Repository gamedig/rust-gamedig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, build-no-features, build-all-features, format, msrv, actions

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: clippy
        name: Check clippy
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: rustup run --install nightly-2023-07-09 cargo-clippy -- -- -D warnings
      - id: build-no-features
        name: Check crate build with no features
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: cargo build --no-default-features
      - id: build-all-features
        name: Check crate builds with all features
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: cargo build --all-features --lib --bins --examples
      - id: format
        name: Check rustfmt
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: rustup run --install nightly-2023-07-09 cargo-fmt --check
      - id: msrv
        name: Check MSRV compiles
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: rustup run --install 1.60 cargo build
      - id: actions
        name: Check actions work
        language: system
        files: '^[.]github/workflows/'
        pass_filenames: false
        entry: act -q

[Games] Move all quake game modules into a single file using macros
  src/games/mod.rs
  src/games/quake.rs
  src/games/quake1.rs
  src/games/quake2.rs
  src/games/quake3.rs
  src/games/sof2.rs
  src/games/warsow.rs
  src/protocols/quake/mod.rs
  src/protocols/quake/three.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Games] Move all gamespy game modules into a single file using macros
  src/games/battlefield1942.rs
  src/games/crysiswars.rs
  src/games/gamespy.rs
  src/games/mod.rs
  src/games/serioussam.rs
  src/games/unrealtournament.rs
  src/protocols/gamespy/mod.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Docs] Update CHANGELOG
  CHANGELOG.md
Due: none

[Docs] Improve game query function generation macro documentation
  src/protocols/gamespy/mod.rs
  src/protocols/quake/mod.rs
  src/protocols/valve/mod.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Games] Add missed Halo: Combat Evolved to gamespy
  src/games/gamespy.rs
  src/games/hce.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Add Barotrauma support.
  CHANGELOG.md
  GAMES.md
  src/games/definitions.rs
  src/games/valve.rs
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Add/Update badge
  .github/badges/node.svg
Due: none

[Crate] Bump version to 0.4.1
  CHANGELOG.md
  Cargo.toml
Due: none

WIP: Add unreal2 protocol
  src/games/definitions.rs
  src/games/mod.rs
  src/games/unreal2.rs
  src/protocols/mod.rs
  src/protocols/types.rs
  src/protocols/unreal2/mod.rs
  src/protocols/unreal2/protocol.rs
  src/protocols/unreal2/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

refactor: cli to work next to lib
  crates/cli/Cargo.toml
  crates/cli/src/error.rs
  crates/cli/src/key.rs
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Repo] Link to CONTRIBUTING.md in README
  README.md
Due: none

[Clippy] Remove .clone() from timeout_settings as it is now Copy
  src/protocols/minecraft/protocol/mod.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Clippy] Remove .clone() from timeout_settings as it is now Copy (#127)
  src/protocols/minecraft/protocol/mod.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Initial macro modification for gathering settings
  src/protocols/valve/mod.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Initial Valheim support
  src/games/definitions.rs
  src/games/valve.rs
  src/protocols/valve/mod.rs
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Remove unused use
  src/games/valve.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[fmt] Run rustfmt on crates/cli/src/error.rs
  crates/cli/src/error.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[CI] Update CI to work with workspaces
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/node-badge.yml
  .pre-commit-config.yaml
  Cargo.toml
Due: actions

Fix macro
  src/protocols/valve/mod.rs
Due: clippy, build-no-features, build-all-features, format, msrv

docs: Add Valheim to CHANGELOG and GAMES
  CHANGELOG.md
  GAMES.md
Due: none

Add commentary regarding gathering settings comment generation
  src/protocols/valve/mod.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Add GatheringSettings to game!
  examples/generic.rs
  src/games/definitions.rs
  src/games/mod.rs
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Remove unused stuff
  examples/generic.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Fix tests and add comment regarding the game argument
  examples/generic.rs
Due: clippy, build-no-features, build-all-features, format, msrv

feat: Add GatheringSettings on Valve macros (#128)
  CHANGELOG.md
  GAMES.md
  examples/generic.rs
  src/games/definitions.rs
  src/games/mod.rs
  src/games/valve.rs
  src/protocols/valve/mod.rs
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Remove the SteamApp enum.
  src/protocols/valve/protocol.rs
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Further removal
  src/games/battalion1944.rs
  src/games/definitions.rs
  src/games/theship.rs
  src/games/valve.rs
  src/protocols/types.rs
  src/protocols/valve/mod.rs
  src/protocols/valve/protocol.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Replace SteamApp with Engine on game! usage
  src/games/definitions.rs
  src/games/mod.rs
  src/games/valve.rs
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Add removal of SteamApp in changelog
  CHANGELOG.md
Due: none

docs: Update reference of SteamApp to Engine
  src/protocols/valve/mod.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Update the docs of the Engine type to be more descriptive.
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

feat: Remove SteamApp (#142)
  CHANGELOG.md
  src/games/battalion1944.rs
  src/games/definitions.rs
  src/games/mod.rs
  src/games/theship.rs
  src/games/valve.rs
  src/protocols/types.rs
  src/protocols/valve/mod.rs
  src/protocols/valve/protocol.rs
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Fix wrongly named game ids of l4d, l4d2 and q3a
  src/games/definitions.rs
  src/games/quake.rs
  src/games/valve.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Specify how edition/protocol names are appended to games, rule 7
  CONTRIBUTING.md
Due: none

Clarify rule 6 regarding numbers
  CONTRIBUTING.md
Due: none
