Repository gamedig/rust-gamedig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, build-no-features, build-all-features, test, format, msrv, docs, actions

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: clippy
        name: Check clippy
        language: system
        files: '([.]rs|Cargo\.toml)$'
        pass_filenames: false
        entry: rustup run --install nightly-2023-07-09 cargo-clippy -- --workspace --all-features -- -D warnings

      - id: build-no-features
        name: Check crate build with no features
        language: system
        files: '([.]rs|Cargo\.toml)$'
        pass_filenames: false
        entry: cargo check --workspace --no-default-features

      - id: build-all-features
        name: Check crate builds with all features
        language: system
        files: '([.]rs|Cargo\.toml)$'
        pass_filenames: false
        entry: cargo check --workspace --all-features --lib --bins --examples

      - id: test
        name: Check tests pass
        language: system
        files: '([.]rs|Cargo\.toml)$'
        pass_filenames: false
        entry: cargo test --workspace --bins --lib --examples --tests --all-features

      - id: format
        name: Check rustfmt
        language: system
        files: '([.]rs|Cargo\.toml)$'
        pass_filenames: false
        entry: rustup run --install nightly-2023-07-09 cargo-fmt --check

      - id: msrv
        name: Check MSRV compiles (lib only)
        language: system
        files: '([.]rs|Cargo\.toml)$'
        pass_filenames: false
        entry: rustup run --install 1.65 cargo check -p gamedig

      - id: docs
        name: Check rustdoc compiles
        language: system
        files: '([.]rs|Cargo\.toml)$'
        pass_filenames: false
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        
      - id: actions
        name: Check actions work
        language: system
        files: '^[.]github/workflows/'
        pass_filenames: false
        entry: act --rm

refactor(core buf): move dy_buf into core buf now that its stable ish
  crates/lib/Cargo.toml
  crates/lib/src/core/io/buf/mod.rs
  crates/lib/src/core/io/buf/num.rs
  crates/lib/src/core/io/buf/string.rs
  crates/lib/src/core/io/dy_buf/mod.rs
  crates/lib/src/core/io/dy_buf/num.rs
  crates/lib/src/core/io/dy_buf/string.rs
  crates/lib/src/core/io/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(rust fmt): fix some deprecation warnings
  .rustfmt.toml
Due: none

chore(format): format eveything with new config
  crates/lib/src/core/io/buf/mod.rs
  crates/lib/src/core/net/mod.rs
  crates/lib/src/core/net/tcp/mod.rs
  crates/lib/src/core/net/tcp/sealed/client/std.rs
  crates/lib/src/core/net/tcp/sealed/client/tokio.rs
  crates/lib/src/core/net/udp/mod.rs
  crates/lib/src/core/net/udp/sealed/client/std.rs
  crates/lib/src/core/net/udp/sealed/client/tokio.rs
  crates/lib/src/dict.rs
  crates/lib/src/protocol/mod.rs
  crates/lib/src/protocol/query/valve/packet/player.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(core tcp): rework how data is processed (still needs cleanup)
  crates/lib/src/core/net/tcp/mod.rs
  crates/lib/src/core/net/tcp/sealed/client/mod.rs
  crates/lib/src/core/net/tcp/sealed/client/std.rs
  crates/lib/src/core/net/tcp/sealed/client/tokio.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(core udp): rework how data is processed (still needs cleanup)
  crates/lib/src/core/net/udp/mod.rs
  crates/lib/src/core/net/udp/sealed/client/mod.rs
  crates/lib/src/core/net/udp/sealed/client/std.rs
  crates/lib/src/core/net/udp/sealed/client/tokio.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(core tcp): using an explicit closure for copying elements
  crates/lib/src/core/net/tcp/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(error diagnostic): op has no effect
  crates/lib/src/error/diagnostic.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(lib): change edition to 2024
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(core udp): borrow timeout and copy from user side
  crates/lib/src/core/net/udp/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(license): update year to 2025 to match main
  LICENSE.md
  crates/lib/src/lib.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(cli): state edition to get rid of build warn
  crates/cli/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(lib deps): update all to latest
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(dict): feature gate so that phf can now be optional
  crates/lib/Cargo.toml
  crates/lib/src/lib.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

impl(error diagnostic): add unit tests
  crates/lib/src/error/diagnostic.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

impl(error): add a basic unit test for display
  crates/lib/src/error/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(error diagnostic): failure reason header should be yellow not blue
  crates/lib/src/error/diagnostic.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(buf errors): cover edge cases with errors rather than panic
  crates/lib/src/core/io/buf/mod.rs
  crates/lib/src/error/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

Add/Update badge
  .github/badges/node.svg
Due: none

fix(core udp): client not having pub crate on fns
  crates/lib/src/core/net/udp/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(valve query): new high def model and move some things around
  crates/lib/src/protocol/query/valve/client.rs
  crates/lib/src/protocol/query/valve/mod.rs
  crates/lib/src/protocol/query/valve/model.rs
  crates/lib/src/protocol/query/valve/packet/info.rs
  crates/lib/src/protocol/query/valve/packet/mod.rs
  crates/lib/src/protocol/query/valve/packet/payload.rs
  crates/lib/src/protocol/query/valve/packet/player.rs
  crates/lib/src/protocol/query/valve/packet/rules.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

impl(diagnostic): add sysinfo display component for os, arch, pkg semver and if it was a debug build
  crates/lib/src/error/diagnostic.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(error diagnostic): split system info up and clean up
  crates/lib/src/error/diagnostic.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(error diagnostic): add main features to crate info
  crates/lib/src/error/diagnostic.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

Added arma 3
  GAMES.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

Fix wrong app id in Valve game query modules
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(error diagnostic): clean up and document
  crates/lib/src/error/diagnostic.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

Applied formatting to valve.rs
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(changelog): add arma 3
  crates/lib/CHANGELOG.md
Due: none

chore(changelog): follow format for arma 3 change
  crates/lib/CHANGELOG.md
Due: none

chore(msrv): bump to 1.81.0
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  VERSIONS.md
  crates/cli/Cargo.toml
  crates/lib/Cargo.toml
  crates/lib/README.md
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs, actions

chore(clippy): clean up warnings
  crates/lib/src/buffer.rs
  crates/lib/src/services/valve_master_server/service.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(rustfmt): bump to 1.8.0 and fix deprecated warns
  .rustfmt.toml
  VERSIONS.md
Due: none

chore(format): with new config
  crates/lib/src/buffer.rs
  crates/lib/src/games/ffow/protocol.rs
  crates/lib/src/protocols/gamespy/protocols/three/protocol.rs
  crates/lib/src/protocols/valve/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(nightly): bump to nightly-2025-04-19 as the other toolchain is 2 years old
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  VERSIONS.md
Due: actions

chore(lib): bump to 0.7.0
  crates/lib/CHANGELOG.md
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(cli): use v0.X.X gamedig to cut down patches
  crates/cli/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(changelog): update cli and lib with changes
  crates/cli/CHANGELOG.md
  crates/lib/CHANGELOG.md
Due: none

fix(cli): crates io dont like wildcards
  crates/cli/CHANGELOG.md
  crates/cli/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(cli): bump semver to v0.3.0
  crates/cli/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs
