Repository gamedig/rust-gamedig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, build-no-features, build-all-features, format, msrv, actions

clippy:
  name: Check clippy
  language: system
  pass_filenames: false
  entry: rustup run --install nightly-2023-07-09 cargo-clippy -- -- -D warnings

build-no-features:
  name: Check crate build with no features
  language: system
  pass_filenames: false
  entry: cargo build --no-default-features

build-all-features:
  name: Check crate builds with all features
  language: system
  pass_filenames: false
  entry: cargo build --all-features --lib --bins --examples

format:
  name: Check rustfmt
  language: system
  pass_filenames: false
  entry: rustup run --install nightly-2023-07-09 cargo-fmt --check

msrv:
  name: Check MSRV compiles
  language: system
  pass_filenames: false
  entry: rustup run --install 1.60 cargo build

actions:
  name: Check actions work
  language: system
  pass_filenames: false
  entry: act -q

Fix generic examples tests (and enable example tests in pre-commit)
  .pre-commit-config.yaml
  examples/generic.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Generic] Add struct for all extra request settings (#93)
  .pre-commit-config.yaml
  CHANGELOG.md
  examples/generic.rs
  src/games/mod.rs
  src/protocols/minecraft/protocol/mod.rs
  src/protocols/minecraft/types.rs
  src/protocols/mod.rs
  src/protocols/types.rs
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Crate] Update CHANGELOG to move some stuff to breaking
  CHANGELOG.md
Due: none

[Game] Remove instances of using unwrap without handling the panics
  CHANGELOG.md
  src/games/ts.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] Valve: change up compressed packages structure to use Options
  src/protocols/valve/protocol.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] GameSpy 3: Removed instance on unchecked .unwrap
  src/protocols/gamespy/protocols/three/protocol.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] Valve: Rename compressed field to decompressed
  src/protocols/valve/protocol.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Crate] Separate error code into different files.
  src/errors/error.rs
  src/errors/kind.rs
  src/errors/mod.rs
  src/errors/result.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Crate] Solve Cargo Doc redundant explicit link target
  src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Crate] Changeup a doc comment
  src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Crate] Update Cargo.toml to add license-file and categories fields
  Cargo.toml
Due: none

Add retry count to TimeoutSettings
  examples/generic.rs
  src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Add retries to valve queries
  src/protocols/valve/protocol.rs
  src/utils.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Add labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: actions

Run on prs
  .github/workflows/labeler.yml
Due: actions

Add move labeling
  .github/labeler.yml
Due: none

[CI] Add github PR labeler (#97)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: actions

[Protocol] &Optional<TimeoutSettings> add get_retries_or_default
  src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] Add retries to minecraft protocol
  src/protocols/minecraft/protocol/bedrock.rs
  src/protocols/minecraft/protocol/java.rs
  src/protocols/minecraft/protocol/legacy_bv1_8.rs
  src/protocols/minecraft/protocol/legacy_v1_4.rs
  src/protocols/minecraft/protocol/legacy_v1_6.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] Add retries to quake
  src/protocols/quake/client.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] Add retries to gamespy
  src/protocols/gamespy/protocols/one/protocol.rs
  src/protocols/gamespy/protocols/three/protocol.rs
  src/protocols/gamespy/protocols/two/protocol.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] Update TimeoutSettings docs, and change default retries to 0
  src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Remove logging from retry_on_timeout
  src/utils.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] TimeoutSettings make retries non-optional
  examples/generic.rs
  src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[CI] Fix permissions on guest prs
  .github/workflows/labeler.yml
Due: actions

Revert last commit
  .github/workflows/labeler.yml
Due: actions

Don't specify branch name in pr target
  .github/workflows/labeler.yml
Due: actions

Properly space on line
  .github/workflows/labeler.yml
Due: actions

Specify branch
  .github/workflows/labeler.yml
Due: actions

Add quotes to labeler points
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: actions

Remove the quotes on files in labeler.yml
  .github/labeler.yml
Due: none

[CI] Fix labeler permission on guest prs (#101)
  .github/workflows/labeler.yml
Due: actions

[CI] Only run build checks when a rust related file has changed
  .github/workflows/ci.yml
Due: actions

[Games] Update game definitions to match node-gamedig names
  examples/generic.rs
  src/games/definitions.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Update game file names to match definitions
  examples/master_querant.rs
  src/games/ageofchivalry.rs
  src/games/alienswarm.rs
  src/games/arkse.rs
  src/games/ballisticoverkill.rs
  src/games/blackmesa.rs
  src/games/brainbread2.rs
  src/games/codenamecure.rs
  src/games/colonysurvival.rs
  src/games/crysiswars.rs
  src/games/garrysmod.rs
  src/games/insurgency.rs
  src/games/insurgencymic.rs
  src/games/insurgencysandstorm.rs
  src/games/left4dead.rs
  src/games/left4dead2.rs
  src/games/mod.rs
  src/games/przomboid.rs
  src/games/quake3.rs
  src/games/sd2d.rs
  src/games/ship.rs
  src/games/svencoop.rs
  src/games/vrising.rs
  src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[CI] Only run build checks when a rust related file has changed (#102)
  .github/workflows/ci.yml
Due: actions

[Games] rename minecraft definitions to better match node
  examples/generic.rs
  src/games/definitions.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Games] Add test that all game files match definition name
  src/games/definitions.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Crate] Remove license-file field due to cargo warning that only one is needed.
  Cargo.toml
Due: none

Path conditions:
  clippy: any of: [.]rs$
  build-no-features: any of: [.]rs$
  build-all-features: any of: [.]rs$
  format: any of: [.]rs$
  msrv: any of: [.]rs$
  actions: any of: ^[.]github/workflows/
