Repository gamedig/rust-gamedig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, build-no-features, build-all-features, format, msrv, actions

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: clippy
        name: Check clippy
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: rustup run --install nightly-2023-07-09 cargo-clippy -- -- -D warnings
      - id: build-no-features
        name: Check crate build with no features
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: cargo build --no-default-features
      - id: build-all-features
        name: Check crate builds with all features
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: cargo build --all-features --lib --bins --examples
      - id: format
        name: Check rustfmt
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: rustup run --install nightly-2023-07-09 cargo-fmt --check
      - id: msrv
        name: Check MSRV compiles
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: rustup run --install 1.60 cargo build
      - id: actions
        name: Check actions work
        language: system
        files: '^[.]github/workflows/'
        pass_filenames: false
        entry: act -q

[CI] Fix games tag with the s
  .github/labeler.yml
Due: none

[CI] Add labeler.yml as file for CI tag
  .github/labeler.yml
Due: none

[CI] Also use checkout on triage
  .github/workflows/labeler.yml
Due: actions

[CI] Fix misc stuff with labeler CI. (#103)
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: actions

[CI] Add node comparison badge
  .github/badges/.gitkeep
  .github/workflows/node-badge.yml
  README.md
Due: actions

Add/Update badge
  .github/badges/node.svg
Due: none

[CI] Add node comparison badge (#99)
  .github/badges/.gitkeep
  .github/badges/node.svg
  .github/workflows/node-badge.yml
  README.md
Due: actions

Update SteamApp to match node names
  src/games/ageofchivalry.rs
  src/games/alienswarm.rs
  src/games/arkse.rs
  src/games/ballisticoverkill.rs
  src/games/blackmesa.rs
  src/games/brainbread2.rs
  src/games/codenamecure.rs
  src/games/colonysurvival.rs
  src/games/definitions.rs
  src/games/garrysmod.rs
  src/games/insurgency.rs
  src/games/insurgencymic.rs
  src/games/insurgencysandstorm.rs
  src/games/left4dead.rs
  src/games/left4dead2.rs
  src/games/przomboid.rs
  src/games/sd2d.rs
  src/games/ship.rs
  src/games/svencoop.rs
  src/games/vrising.rs
  src/protocols/valve/protocol.rs
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Games] Update the forest to match node-GameDig#367
  examples/master_querant.rs
  src/games/definitions.rs
  src/games/mod.rs
  src/games/theforest.rs
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Clippy fix in games test
  src/games/definitions.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Docs] Update GAMES.md with new names
  GAMES.md
Due: none

[DOCS] Update changelog
  CHANGELOG.md
Due: none

[Games] Update game definitions to match node-gamedig names (#100)
  CHANGELOG.md
  GAMES.md
  examples/generic.rs
  examples/master_querant.rs
  src/games/ageofchivalry.rs
  src/games/alienswarm.rs
  src/games/arkse.rs
  src/games/ballisticoverkill.rs
  src/games/blackmesa.rs
  src/games/brainbread2.rs
  src/games/codenamecure.rs
  src/games/colonysurvival.rs
  src/games/crysiswars.rs
  src/games/definitions.rs
  src/games/garrysmod.rs
  src/games/insurgency.rs
  src/games/insurgencymic.rs
  src/games/insurgencysandstorm.rs
  src/games/left4dead.rs
  src/games/left4dead2.rs
  src/games/mod.rs
  src/games/przomboid.rs
  src/games/quake3.rs
  src/games/sd2d.rs
  src/games/ship.rs
  src/games/svencoop.rs
  src/games/theforest.rs
  src/games/vrising.rs
  src/protocols/types.rs
  src/protocols/valve/protocol.rs
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] Move retry logic into lower level query functions
  src/protocols/gamespy/protocols/one/protocol.rs
  src/protocols/gamespy/protocols/three/protocol.rs
  src/protocols/gamespy/protocols/two/protocol.rs
  src/protocols/minecraft/protocol/bedrock.rs
  src/protocols/minecraft/protocol/java.rs
  src/protocols/minecraft/protocol/legacy_bv1_8.rs
  src/protocols/minecraft/protocol/legacy_v1_4.rs
  src/protocols/minecraft/protocol/legacy_v1_6.rs
  src/protocols/quake/client.rs
  src/protocols/types.rs
  src/protocols/valve/protocol.rs
  src/services/valve_master_server/service.rs
  src/socket.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Examples] Add retries to the generic example
  examples/generic.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Also retry on PacketSend error
  src/utils.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Add retry unit tests
  src/utils.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Docs] Update changelog
  CHANGELOG.md
Due: none

[Protocol] Retry failed requests (#95)
  CHANGELOG.md
  examples/generic.rs
  src/protocols/gamespy/protocols/one/protocol.rs
  src/protocols/gamespy/protocols/three/protocol.rs
  src/protocols/gamespy/protocols/two/protocol.rs
  src/protocols/minecraft/protocol/bedrock.rs
  src/protocols/minecraft/protocol/java.rs
  src/protocols/minecraft/protocol/legacy_bv1_8.rs
  src/protocols/minecraft/protocol/legacy_v1_4.rs
  src/protocols/minecraft/protocol/legacy_v1_6.rs
  src/protocols/quake/client.rs
  src/protocols/types.rs
  src/protocols/valve/protocol.rs
  src/services/valve_master_server/service.rs
  src/socket.rs
  src/utils.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Crate] Update README to have a more title-like project name
  README.md
Due: none

[Protocol] Add latin1 string decoder for gamespy1
  Cargo.toml
  src/buffer.rs
  src/protocols/gamespy/protocols/one/protocol.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Buffer] Add helper to find string delimiters
  src/buffer.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] Make gamespy1 parsing less likely to fail (#107)
  src/protocols/gamespy/protocols/one/protocol.rs
  src/protocols/gamespy/protocols/one/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Add initial CONTRIBUTING.md file
  CONTRIBUTING.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Specify to look whether there is an existing relevant issue first
  CONTRIBUTING.md
Due: none

Specify that ids are lowercased only
  CONTRIBUTING.md
Due: none

Fix tyope.
  CONTRIBUTING.md
Due: none

Specify special case with multiple editions/versions
  CONTRIBUTING.md
Due: none

Update CHANGELOG.md to mention contributors
  CHANGELOG.md
Due: none

Clarify an id already existing and fix typo
  CONTRIBUTING.md
Due: none

Add new rule to specify what to do about names that being with numbers
  CONTRIBUTING.md
Due: none

Simplify numbering rules
  CONTRIBUTING.md
Due: none

[Examples] Remove master_querant example due to being obsolete
  examples/master_querant.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Specify on #1 unless #4 applies
  CONTRIBUTING.md
Due: none

Specify naming for game names
  CONTRIBUTING.md
Due: none

[Examples] Remove master_querant example due to being obsolete (#109)
  examples/master_querant.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Add rule regarding mods that add ability for queries
  CONTRIBUTING.md
Due: none
