Repository gamedig/rust-gamedig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, build-no-features, build-all-features, test, format, msrv, docs, actions

clippy:
  name: Check clippy
  language: system
  pass_filenames: false
  entry: rustup run --install nightly-2023-07-09 cargo-clippy -- --workspace --all-features -- -D warnings

build-no-features:
  name: Check crate build with no features
  language: system
  pass_filenames: false
  entry: cargo check --workspace --no-default-features

build-all-features:
  name: Check crate builds with all features
  language: system
  pass_filenames: false
  entry: cargo check --workspace --all-features --lib --bins --examples

test:
  name: Check tests pass
  language: system
  pass_filenames: false
  entry: cargo test --workspace --bins --lib --examples --tests --all-features

format:
  name: Check rustfmt
  language: system
  pass_filenames: false
  entry: rustup run --install nightly-2023-07-09 cargo-fmt --check

msrv:
  name: Check MSRV compiles (lib only)
  language: system
  pass_filenames: false
  entry: rustup run --install 1.65 cargo check -p gamedig

docs:
  name: Check rustdoc compiles
  language: system
  pass_filenames: false
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc

actions:
  name: Check actions work
  language: system
  pass_filenames: false
  entry: act --rm

chore(dev containers): add half done readme
  .devcontainer/README.md
Due: none

add markdown lines
  GAMES.md
  crates/lib/CHANGELOG.md
Due: none

fix(rustfmt): dont wrap comments
  .rustfmt.toml
Due: none

oops, change player namespace
  crates/lib/src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

ci: fix audit failing by generating cargo lock file before running it
  .github/workflows/audit.yml
Due: actions

ci: fix audit failing by generating cargo lock file before running it (#229)
  .github/workflows/audit.yml
Due: actions

fix some edge cases
  crates/lib/src/games/minetest/protocol.rs
  crates/lib/src/games/minetest/types.rs
  crates/lib/src/protocols/types.rs
  crates/lib/src/services/minetest_master_server/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

add entry to responses, tweak field names
  RESPONSES.md
  crates/lib/src/games/minetest/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

feat: minetest support (#218)
  GAMES.md
  RESPONSES.md
  crates/lib/CHANGELOG.md
  crates/lib/src/games/minetest/mod.rs
  crates/lib/src/games/minetest/protocol.rs
  crates/lib/src/games/minetest/types.rs
  crates/lib/src/games/mod.rs
  crates/lib/src/games/query.rs
  crates/lib/src/protocols/types.rs
  crates/lib/src/services/minetest_master_server/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(lib): update deps
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(lib features): rework how http is served as a feature so its simple (need to refactor rest of lib)
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(lib core): comment out feature check for now
  crates/lib/src/core/check.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(lib error): add missing error and update cfg
  crates/lib/src/error/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(lib core): add some docs and correct cfgs for tcp AL
  crates/lib/src/core/net/tcp/sealed/client/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(lib core): update tcp tokio client cfgs and improve logs
  crates/lib/src/core/net/tcp/sealed/client/tokio.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(lib core): update tcp std client cfgs and improve logs
  crates/lib/src/core/net/tcp/sealed/client/std.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(lib core): update log cfgs on tcp client
  crates/lib/src/core/net/tcp/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(lib error): own inner hexdump as buf could be dropped before display
  crates/lib/src/error/diagnostic.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(lib buf): range check uses rel pos, correct num so it isnt pos + pos + N
  crates/lib/src/core/io/buf/num.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(lib error): change wording "underflow" to OOB
  crates/lib/src/error/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(lib buf): rework errors and move pos
  crates/lib/src/core/io/buf/mod.rs
  crates/lib/src/core/io/buf/string.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(lib error): add IO::BufferInvalidRangeError
  crates/lib/src/error/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(workspace): clean up some unused stuff for now
  .github/dependabot.yml
  Cargo.toml
  crates/cli/src/api/mod.rs
  crates/cli/src/main.rs
  crates/cli/src/tui/mod.rs
  crates/tools/net_replay/Cargo.toml
  crates/tools/net_replay/README.md
  crates/tools/net_replay/src/main.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(workspace): add temp readme
  README.md
Due: none

Change the app id for the forest so it doesn't fail
  crates/lib/src/games/definitions.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

Use both the app id and dedicated app id for the forest
  crates/lib/src/games/definitions.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(cli): improve how we serve the bin to users
  Cargo.toml
  README.md
  crates/cli/Cargo.toml
  crates/cli/LICENSE.md
  crates/cli/README.md
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(ci): discontinue github releases
  .github/workflows/release.yml
Due: actions

chore(lib): bump msrv `1.65.0` -> `1.67.0` for linux deps
  .github/workflows/ci.yml
  README.md
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs, actions

chore(ci): format
  .github/.act-event.json
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/node-badge.yml
  .github/workflows/scripts/node-badge.mjs
Due: actions

chore(cli): fix typos in readme
  crates/cli/README.md
Due: none

chore(readme): update msrv
  crates/lib/README.md
Due: none

chore(lib): update changelog
  crates/lib/CHANGELOG.md
Due: none

chore(lib): bump to `0.6.0`
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(cli): update changelog
  crates/cli/CHANGELOG.md
Due: none

chore(cli): bump to `0.2.0`
  crates/cli/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(msrv): bump to `1.71.1`
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  VERSIONS.md
  crates/lib/CHANGELOG.md
  crates/lib/Cargo.toml
  crates/lib/README.md
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs, actions

chore(readme): make dep badge use latest
  README.md
Due: none

chore(readme): missed a msrv semver
  README.md
Due: none

Add Starbound support
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
  crates/lib/src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

Path conditions:
  clippy: any of: ([.]rs|Cargo\.toml)$
  build-no-features: any of: ([.]rs|Cargo\.toml)$
  build-all-features: any of: ([.]rs|Cargo\.toml)$
  test: any of: ([.]rs|Cargo\.toml)$
  format: any of: ([.]rs|Cargo\.toml)$
  msrv: any of: ([.]rs|Cargo\.toml)$
  docs: any of: ([.]rs|Cargo\.toml)$
  actions: any of: ^[.]github/workflows/
