Repository gamedig/rust-gamedig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, build-no-features, build-all-features, format, msrv, actions

clippy:
  name: Check clippy
  language: system
  pass_filenames: false
  entry: rustup run --install nightly-2023-07-09 cargo-clippy -- -- -D warnings

build-no-features:
  name: Check crate build with no features
  language: system
  pass_filenames: false
  entry: cargo build --no-default-features

build-all-features:
  name: Check crate builds with all features
  language: system
  pass_filenames: false
  entry: cargo build --all-features --lib --bins --examples

format:
  name: Check rustfmt
  language: system
  pass_filenames: false
  entry: rustup run --install nightly-2023-07-09 cargo-fmt --check

msrv:
  name: Check MSRV compiles
  language: system
  pass_filenames: false
  entry: rustup run --install 1.60 cargo build

actions:
  name: Check actions work
  language: system
  pass_filenames: false
  entry: act -q

Remake rule 7 to include protocol naming
  CONTRIBUTING.md
Due: none

Specify lowercase aplhanumeric
  CONTRIBUTING.md
Due: none

[Repo] Add CONTRIBUTING.md. (#108)
  CONTRIBUTING.md
Due: none

Fix rule 3 example not following rule 2
  CONTRIBUTING.md
Due: none

Fix rule 3 example not following rule 2 (#113)
  CONTRIBUTING.md
Due: none

Apply new id naming
  GAMES.md
  examples/minecraft.rs
  examples/tf2.rs
  src/games/a2oa.rs
  src/games/aoc.rs
  src/games/ase.rs
  src/games/battalion1944.rs
  src/games/battlefield1942.rs
  src/games/counterstrike.rs
  src/games/definitions.rs
  src/games/hce.rs
  src/games/hl2d.rs
  src/games/hlds.rs
  src/games/imic.rs
  src/games/jc2m.rs
  src/games/minecraft.rs
  src/games/mod.rs
  src/games/projectzomboid.rs
  src/games/sco.rs
  src/games/serioussam.rs
  src/games/teamfortress2.rs
  src/games/theship.rs
  src/games/unrealtournament.rs
  src/lib.rs
  src/protocols/types.rs
  src/protocols/valve/protocol.rs
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Fix failing CI on all features
  README.md
  examples/generic.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Update changelog
  CHANGELOG.md
Due: none

Rename tf2 example to teamfortress2
  examples/teamfortress2.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Fix typo in steamapp game names
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Rename minecraft legacy versions
  CHANGELOG.md
  src/games/definitions.rs
  src/protocols/minecraft/protocol/legacy_v1_3.rs
  src/protocols/minecraft/protocol/legacy_v1_5.rs
  src/protocols/minecraft/protocol/mod.rs
  src/protocols/minecraft/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[CI] Specify the branch name when pushing node badge commits
  .github/workflows/node-badge.yml
Due: actions

testing: remove games to update badge
  src/games/definitions.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Add/Update badge
  .github/badges/node.svg
Due: none

Revert "testing: remove games to update badge"
  src/games/definitions.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Specify the branch name when pushing node badge commits (#116)
  .github/workflows/node-badge.yml
Due: actions

Apply CI node badge fix by Douile
  .github/workflows/node-badge.yml
Due: actions

[Game] Apply new id naming (#114)
  .github/badges/node.svg
  CHANGELOG.md
  GAMES.md
  README.md
  examples/generic.rs
  examples/minecraft.rs
  examples/teamfortress2.rs
  src/games/a2oa.rs
  src/games/aoc.rs
  src/games/ase.rs
  src/games/battalion1944.rs
  src/games/battlefield1942.rs
  src/games/counterstrike.rs
  src/games/definitions.rs
  src/games/hce.rs
  src/games/hl2d.rs
  src/games/hlds.rs
  src/games/imic.rs
  src/games/jc2m.rs
  src/games/minecraft.rs
  src/games/mod.rs
  src/games/projectzomboid.rs
  src/games/sco.rs
  src/games/serioussam.rs
  src/games/teamfortress2.rs
  src/games/theship.rs
  src/games/unrealtournament.rs
  src/lib.rs
  src/protocols/minecraft/protocol/legacy_v1_3.rs
  src/protocols/minecraft/protocol/legacy_v1_5.rs
  src/protocols/minecraft/protocol/mod.rs
  src/protocols/minecraft/types.rs
  src/protocols/types.rs
  src/protocols/valve/protocol.rs
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Remove minecraftping from game definitions as its useless
  src/games/definitions.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Update minecraftpocket name
  src/games/definitions.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Remove `minecraftping` from game definitions as its useless (#117)
  src/games/definitions.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Remove CosminPerRam from authors as he is not the sole maintainer anymore
  Cargo.toml
Due: none

[Crate] Update byteorder from 1.4 to 1.5
  CHANGELOG.md
  Cargo.toml
Due: none

[Repo] Fix typo in README.
  README.md
Due: none

[Crate] Bump version to 0.4.0
  CHANGELOG.md
  Cargo.toml
Due: none

[Protocol] Add derives to RequestSettings and new_just_hostname function
  CHANGELOG.md
  src/protocols/minecraft/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Add Send and Sync on Error Source and remove 'static
  src/errors/error.rs
  src/errors/kind.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Add back 'static
  src/errors/error.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Update the changelog
  CHANGELOG.md
Due: none

[Generic] Add missing derives to types
  CHANGELOG.md
  src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Remove serde derives Generic Player and Response
  CHANGELOG.md
  src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

tests: Add TF2 integration test
  Cargo.toml
  tests/integration-data/tf2-success.json
  tests/integration.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Add Send and Sync on Error Source (#118)
  CHANGELOG.md
  src/errors/error.rs
  src/errors/kind.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Games] Add macro to replace gamespy game query implementations
  src/games/battlefield1942.rs
  src/games/crysiswars.rs
  src/games/hce.rs
  src/games/serioussam.rs
  src/games/unrealtournament.rs
  src/protocols/gamespy/mod.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Games] Add macro to replace quake game query implementations
  src/games/quake1.rs
  src/games/quake2.rs
  src/games/quake3.rs
  src/games/sof2.rs
  src/games/warsow.rs
  src/protocols/quake/mod.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Path conditions:
  clippy: any of: [.]rs$
  build-no-features: any of: [.]rs$
  build-all-features: any of: [.]rs$
  format: any of: [.]rs$
  msrv: any of: [.]rs$
  actions: any of: ^[.]github/workflows/
