Repository gamedig/rust-gamedig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, build-no-features, build-all-features, test, format, msrv, docs, actions

clippy:
  name: Check clippy
  language: system
  pass_filenames: false
  entry: rustup run --install nightly-2023-07-09 cargo-clippy -- --workspace --all-features -- -D warnings

build-no-features:
  name: Check crate build with no features
  language: system
  pass_filenames: false
  entry: cargo check --workspace --no-default-features

build-all-features:
  name: Check crate builds with all features
  language: system
  pass_filenames: false
  entry: cargo check --workspace --all-features --lib --bins --examples

test:
  name: Check tests pass
  language: system
  pass_filenames: false
  entry: cargo test --workspace --bins --lib --examples --tests --all-features

format:
  name: Check rustfmt
  language: system
  pass_filenames: false
  entry: rustup run --install nightly-2023-07-09 cargo-fmt --check

msrv:
  name: Check MSRV compiles (lib only)
  language: system
  pass_filenames: false
  entry: rustup run --install 1.65 cargo check -p gamedig

docs:
  name: Check rustdoc compiles
  language: system
  pass_filenames: false
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc

actions:
  name: Check actions work
  language: system
  pass_filenames: false
  entry: act --rm

impl(lib udp): add working udp client WIP
  crates/lib/src/core/net/udp/mod.rs
  crates/lib/src/core/net/udp/sealed/client/mod.rs
  crates/lib/src/core/net/udp/sealed/client/std.rs
  crates/lib/src/core/net/udp/sealed/client/tokio.rs
  crates/lib/src/core/net/udp/sealed/mod.rs
  crates/lib/src/error/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(lib udp): clean uo some imports
  crates/lib/src/core/net/udp/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(lib core): re export udp client in core
  crates/lib/src/core/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

Add/Update badge
  .github/badges/node.svg
Due: none

fix(protocol): try to match port on epic
  crates/lib/src/protocols/epic/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(protocol): add a fallback session to epic for matching
  crates/lib/src/protocols/epic/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

revert(protocol): remove bad fallback and handle as err
  crates/lib/src/protocols/epic/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(protocol): clean up addr match in epic
  crates/lib/src/protocols/epic/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(protocol): add ADDRESS_s back for epic
  crates/lib/src/protocols/epic/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(protocol): add GAMESERVER_PORT_1 match for epic
  crates/lib/src/protocols/epic/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(protocol): remove ADDRESS_s from matching as it is always true
  crates/lib/src/protocols/epic/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

impl(lib log): add a module for event targets
  crates/lib/src/log.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

impl(lib log): add feature gate for dev logs
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

Fix: match port on epic protocol (#225)
  crates/lib/src/protocols/epic/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(lib): update changelog
  crates/lib/CHANGELOG.md
Due: none

impl(dev container): add basic setup
  .devcontainer/.env
  .devcontainer/DockerFile
  .devcontainer/compose.yaml
  .devcontainer/devcontainer.json
Due: none

fix(dev container): use docker outside of container for act
  .devcontainer/devcontainer.json
Due: none

fix(dev container): use docker in docker
  .devcontainer/devcontainer.json
Due: none

chore(dev container): improve and add just
  .devcontainer/devcontainer.json
  justfile
Due: none

chore(ci): add basic ci for testing
  .github/workflows/ci.yaml
Due: actions

fix(dev container): Rename DockerFile to Dockerfile
  .devcontainer/Dockerfile
Due: none

impl(dev containers): add image with gh codespace support
  .devcontainer/.env
  .devcontainer/Dockerfile
  .devcontainer/act/Dockerfile
  .devcontainer/act/compose.yaml
  .devcontainer/act/devcontainer.json
  .devcontainer/codespace/Dockerfile
  .devcontainer/codespace/devcontainer.json
Due: none

fix(dev container): try to fix codespace build error
  .devcontainer/codespace/devcontainer.json
Due: none

fix(dev container): setup act in gh codespace
  .actrc
  .devcontainer/codespace/devcontainer.json
  .devcontainer/local/Dockerfile
  .devcontainer/local/compose.yaml
  .devcontainer/local/devcontainer.json
Due: none

chore(workflows): add dependabot
  .github/dependabot.yml
Due: none

chore(dev containers): clean up config
  .devcontainer/README.md
  .devcontainer/codespace/Dockerfile
  .devcontainer/docker_desktop/Dockerfile
  .devcontainer/docker_desktop/compose.yaml
  .devcontainer/docker_desktop/devcontainer.json
  .devcontainer/github_codespace/Dockerfile
  .devcontainer/github_codespace/devcontainer.json
  .devcontainer/local/Dockerfile
Due: none

chore(repo): normalize line endings
  .gitattributes
Due: none

chore(dev containers): set ide settings
  .devcontainer/docker_desktop/devcontainer.json
  .devcontainer/github_codespace/devcontainer.json
Due: none

chore(dev container): add cross rs cli
  .devcontainer/docker_desktop/Dockerfile
  .devcontainer/docker_desktop/devcontainer.json
  .devcontainer/github_codespace/Dockerfile
  .devcontainer/github_codespace/devcontainer.json
Due: none

chore(dev container): remove cross and unneeded setting
  .devcontainer/docker_desktop/Dockerfile
  .devcontainer/docker_desktop/devcontainer.json
  .devcontainer/github_codespace/Dockerfile
  .devcontainer/github_codespace/devcontainer.json
Due: none

fix(dev container): correct docket volume path
  .devcontainer/docker_desktop/compose.yaml
Due: none

chore(dev containers): clean up volume mount
  .devcontainer/docker_desktop/compose.yaml
  .devcontainer/docker_desktop/devcontainer.json
Due: none

feat: bump version to 0.5.2
  crates/lib/CHANGELOG.md
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(core buf): use pos as range context and add utils
  crates/lib/src/core/io/buf/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

impl(rcon): start adding packet for valve source
  crates/lib/src/protocol/rcon/valve_source/mod.rs
  crates/lib/src/protocol/rcon/valve_source/packet.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(lib error): rework diagnostic hex dump
  crates/lib/Cargo.toml
  crates/lib/src/error/diagnostic.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(lib): add log mod to lib and add lib header
  crates/lib/src/lib.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

feat: initial minetest support
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/minetest/mod.rs
  crates/lib/src/games/minetest/protocol.rs
  crates/lib/src/games/minetest/types.rs
  crates/lib/src/games/mod.rs
  crates/lib/src/games/query.rs
  crates/lib/src/protocols/types.rs
  crates/lib/src/services/minetest_master_server/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

move player to master, remove comments
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/minetest/types.rs
  crates/lib/src/services/minetest_master_server/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

Path conditions:
  clippy: any of: ([.]rs|Cargo\.toml)$
  build-no-features: any of: ([.]rs|Cargo\.toml)$
  build-all-features: any of: ([.]rs|Cargo\.toml)$
  test: any of: ([.]rs|Cargo\.toml)$
  format: any of: ([.]rs|Cargo\.toml)$
  msrv: any of: ([.]rs|Cargo\.toml)$
  docs: any of: ([.]rs|Cargo\.toml)$
  actions: any of: ^[.]github/workflows/
