Repository gamedig/rust-gamedig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, build-no-features, build-all-features, test, format, msrv, docs, actions

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: clippy
        name: Check clippy
        language: system
        files: '([.]rs|Cargo\.toml)$'
        pass_filenames: false
        entry: rustup run --install nightly-2023-07-09 cargo-clippy -- --workspace --all-features -- -D warnings

      - id: build-no-features
        name: Check crate build with no features
        language: system
        files: '([.]rs|Cargo\.toml)$'
        pass_filenames: false
        entry: cargo check --workspace --no-default-features

      - id: build-all-features
        name: Check crate builds with all features
        language: system
        files: '([.]rs|Cargo\.toml)$'
        pass_filenames: false
        entry: cargo check --workspace --all-features --lib --bins --examples

      - id: test
        name: Check tests pass
        language: system
        files: '([.]rs|Cargo\.toml)$'
        pass_filenames: false
        entry: cargo test --workspace --bins --lib --examples --tests --all-features

      - id: format
        name: Check rustfmt
        language: system
        files: '([.]rs|Cargo\.toml)$'
        pass_filenames: false
        entry: rustup run --install nightly-2023-07-09 cargo-fmt --check

      - id: msrv
        name: Check MSRV compiles (lib only)
        language: system
        files: '([.]rs|Cargo\.toml)$'
        pass_filenames: false
        entry: rustup run --install 1.65 cargo check -p gamedig

      - id: docs
        name: Check rustdoc compiles
        language: system
        files: '([.]rs|Cargo\.toml)$'
        pass_filenames: false
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        
      - id: actions
        name: Check actions work
        language: system
        files: '^[.]github/workflows/'
        pass_filenames: false
        entry: act --rm

fix(udp client): change trace to dev log feature
  crates/lib/src/core/net/udp/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(dict): swap out phf for hashify
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

impl(dict): come up with a POC with cfgs
  crates/lib/src/dict.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(https): clean up
  crates/lib/src/core/net/http/request.rs
  crates/lib/src/core/net/http/sealed/client/mod.rs
  crates/lib/src/core/net/http/sealed/client/reqwest.rs
  crates/lib/src/core/net/https/mod.rs
  crates/lib/src/core/net/https/request.rs
  crates/lib/src/core/net/https/sealed/client/mod.rs
  crates/lib/src/core/net/https/sealed/client/reqwest.rs
  crates/lib/src/core/net/https/sealed/client/ureq.rs
  crates/lib/src/core/net/https/sealed/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(buf string): remove unused import
  crates/lib/src/core/io/buf/string.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(dict): remove POC
  crates/lib/src/dict.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

impl(log): add util macros for logging
  crates/lib/src/lib.rs
  crates/lib/src/log.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(format): forgot before last commit
  crates/lib/src/lib.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(log): remove pointless cfg on prod event target
  crates/lib/src/log.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(log): sort macro use consumer hierarchy
  crates/lib/src/lib.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(log): manually format as rustfmt dont wanna do it
  crates/lib/src/log.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(rustfmt): sort warnings about config
  .rustfmt.toml
Due: none

fix(diagnostic): derive crate info with debug
  crates/lib/src/error/diagnostic.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(tcp): clean logic up on client and tokio (std still todo)
  crates/lib/src/core/net/tcp/mod.rs
  crates/lib/src/core/net/tcp/sealed/client/mod.rs
  crates/lib/src/core/net/tcp/sealed/client/tokio.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

impl(tcp tokio): add debug log on conn drop
  crates/lib/src/core/net/tcp/sealed/client/tokio.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(readme): start planning out workspace readme
  README.md
Due: none

chore(readme): add a banner i made in my ide as img
  README.md
Due: none

chore(readme): clean up table
  README.md
Due: none

chore(readme): new header style
  README.md
Due: none

chore(readme): clean up space
  README.md
Due: none

chore(workspace): sort readmes and file structs
  README.md
  crates/ffi/Cargo.toml
  crates/ffi/README.md
  crates/ffi/src/lib.rs
  crates/lib/README.md
  crates/tools/.gitkeep
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

impl(id_gen): come up with a proposal for game ids with cli tool
  Cargo.toml
  crates/tools/.gitkeep
  crates/tools/id_gen/Cargo.toml
  crates/tools/id_gen/README.md
  crates/tools/id_gen/src/main.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(tokio tcp): clean up printables
  crates/lib/src/core/net/tcp/sealed/client/tokio.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(std tcp): improve debug logs and errors
  crates/lib/src/core/net/tcp/sealed/client/std.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

Add/Update badge
  .github/badges/node.svg
Due: none

chore(workflow): attempt to setup codeql for rust
  .github/workflows/codeql.yml
Due: actions

chore(workflow): rust is built in on ci
  .github/workflows/codeql.yml
Due: actions

chore(workflow): codeql autobuild doesnt support rust
  .github/workflows/codeql.yml
Due: actions

chore(workflow): try `none` codeql build mode
  .github/workflows/codeql.yml
Due: actions

chore(workflow): remove `--locked` arg on codeql
  .github/workflows/codeql.yml
Due: actions

chore(net replay): initialize Cargo.toml and main.rs for net replay tool
  crates/tools/net_replay/Cargo.toml
  crates/tools/net_replay/src/main.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(ffi udl): this should be in its own crate as there maybe more ffi in future
  Cargo.toml
  crates/ffi/README.md
  crates/ffi/udl/Cargo.toml
  crates/ffi/udl/README.md
  crates/ffi/udl/src/lib.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(lib): improve docs and add some comments on macros
  crates/lib/src/lib.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(log macros): update target references to use super::EventTarget
  crates/lib/src/log.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(lib): format
  crates/lib/src/dict.rs
  crates/lib/src/protocol/query/valve/mod.rs
  crates/lib/src/protocol/query/valve/model.rs
  crates/lib/src/protocol/query/valve/packet/mod.rs
  crates/lib/src/service/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(core tcp): its possable to set a timeout at 1ns, if timeout is less than 1s set to default of 5s
  crates/lib/src/core/net/tcp/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(lib deps): update reqwest version to 0.12.22
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(lib deps): update ureq version to 3.0.12
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(lib deps): update tokio version to 1.47.0
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs
