Repository gamedig/rust-gamedig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, build-no-features, build-all-features, test, format, msrv, docs, actions

clippy:
  name: Check clippy
  language: system
  pass_filenames: false
  entry: rustup run --install nightly-2023-07-09 cargo-clippy -- --workspace --all-features -- -D warnings

build-no-features:
  name: Check crate build with no features
  language: system
  pass_filenames: false
  entry: cargo check --workspace --no-default-features

build-all-features:
  name: Check crate builds with all features
  language: system
  pass_filenames: false
  entry: cargo check --workspace --all-features --lib --bins --examples

test:
  name: Check tests pass
  language: system
  pass_filenames: false
  entry: cargo test --workspace --bins --lib --examples --tests --all-features

format:
  name: Check rustfmt
  language: system
  pass_filenames: false
  entry: rustup run --install nightly-2023-07-09 cargo-fmt --check

msrv:
  name: Check MSRV compiles (lib only)
  language: system
  pass_filenames: false
  entry: rustup run --install 1.65 cargo check -p gamedig

docs:
  name: Check rustdoc compiles
  language: system
  pass_filenames: false
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc

actions:
  name: Check actions work
  language: system
  pass_filenames: false
  entry: act --rm

chore(clippy): fix a load of "variables can be used directly"
  crates/cli/src/main.rs
  crates/id-tests/src/lib.rs
  crates/lib/src/http.rs
  crates/lib/src/protocols/unreal2/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(lib): bump version to 0.7.1 and update changelog
  crates/lib/CHANGELOG.md
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(cli): bump version to 0.3.1 and update changelog
  crates/cli/CHANGELOG.md
  crates/cli/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(ci): update MSRV toolchain to 1.82.0
  .github/workflows/ci.yml
Due: actions

chore(pre-commit): update MSRV to 1.82.0
  .pre-commit-config.yaml
Due: none

chore(README): update Minimum Supported Rust Version to 1.82.0
  README.md
Due: none

chore(VERSIONS): update MSRV to 1.82.0
  VERSIONS.md
Due: none

chore(cli): bump version to 0.4.0 and update MSRV to 1.82.0
  crates/cli/CHANGELOG.md
  crates/cli/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(release): bump version to 0.8.0 and update MSRV to 1.82.0
  crates/lib/CHANGELOG.md
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

Maintenance: dep updates and clippy fixs (#243)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  VERSIONS.md
  crates/cli/CHANGELOG.md
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
  crates/id-tests/src/lib.rs
  crates/lib/CHANGELOG.md
  crates/lib/Cargo.toml
  crates/lib/src/http.rs
  crates/lib/src/protocols/unreal2/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs, actions

chore(changelog docs): get rid for now and come back to it
  crates/lib/src/changelog/mod.rs
  crates/lib/src/changelog/v0_0_0.rs
  crates/lib/src/changelog/v0_0_1.rs
  crates/lib/src/changelog/v0_0_2.rs
  crates/lib/src/changelog/v0_0_3.rs
  crates/lib/src/changelog/v0_0_4.rs
  crates/lib/src/changelog/v0_0_5.rs
  crates/lib/src/changelog/v0_0_6.rs
  crates/lib/src/changelog/v0_0_7.rs
  crates/lib/src/changelog/v0_1_0.rs
  crates/lib/src/changelog/v0_2_0.rs
  crates/lib/src/changelog/v0_2_1.rs
  crates/lib/src/changelog/v0_2_2.rs
  crates/lib/src/changelog/v0_2_3.rs
  crates/lib/src/changelog/v0_3_0.rs
  crates/lib/src/changelog/v0_4_0.rs
  crates/lib/src/changelog/v0_4_1.rs
  crates/lib/src/changelog/v0_5_0.rs
  crates/lib/src/changelog/v0_5_1.rs
  crates/lib/src/changelog/v0_5_2.rs
  crates/lib/src/changelog/v0_6_0.rs
  crates/lib/src/changelog/v0_6_1.rs
  crates/lib/src/changelog/v0_7_0.rs
  crates/lib/src/changelog/v1_0_0_alpha.rs
  crates/lib/src/lib.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(core buffer): add tracing to fns
  crates/lib/src/core/io/buf/mod.rs
  crates/lib/src/core/io/buf/num.rs
  crates/lib/src/core/io/buf/string.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

revert(ci): downgrade back to v4 labeler
  .github/workflows/labeler.yml
Due: actions

Add/Update badge
  .github/badges/node.svg
Due: none

impl(valve query): start to add A2S INFO
  crates/lib/src/core/io/buf/mod.rs
  crates/lib/src/protocol/query/valve/client.rs
  crates/lib/src/protocol/query/valve/mod.rs
  crates/lib/src/protocol/query/valve/model.rs
  crates/lib/src/protocol/query/valve/packet/mod.rs
  crates/lib/src/protocol/query/valve/packet/payload.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(udp tokio client): add system and crate info to connection error messages
  crates/lib/src/core/net/udp/sealed/client/tokio.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(valve query): clean some stuff up
  crates/lib/src/protocol/query/valve/client.rs
  crates/lib/src/protocol/query/valve/model.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

impl(config): come up with generic net config for all protocols/games
  crates/lib/src/config.rs
  crates/lib/src/lib.rs
  crates/lib/src/protocol/query/valve/client.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(deps): bump dependency versions in lib/Cargo.toml
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(unused): delete some stuff that i tried but seemed bad
  crates/lib/src/config.rs
  crates/lib/src/lib.rs
  crates/lib/src/service/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(modules): add planned protocol modules
  crates/lib/src/protocol/gamespy_1/client.rs
  crates/lib/src/protocol/gamespy_1/mod.rs
  crates/lib/src/protocol/gamespy_1/model.rs
  crates/lib/src/protocol/gamespy_2/client.rs
  crates/lib/src/protocol/gamespy_2/mod.rs
  crates/lib/src/protocol/gamespy_2/model.rs
  crates/lib/src/protocol/gamespy_3/client.rs
  crates/lib/src/protocol/gamespy_3/mod.rs
  crates/lib/src/protocol/gamespy_3/model.rs
  crates/lib/src/protocol/quake_1/client.rs
  crates/lib/src/protocol/quake_1/mod.rs
  crates/lib/src/protocol/quake_1/model.rs
  crates/lib/src/protocol/quake_2/client.rs
  crates/lib/src/protocol/quake_2/mod.rs
  crates/lib/src/protocol/quake_2/model.rs
  crates/lib/src/protocol/quake_3/client.rs
  crates/lib/src/protocol/quake_3/mod.rs
  crates/lib/src/protocol/quake_3/model.rs
  crates/lib/src/protocol/valve_goldsrc/client.rs
  crates/lib/src/protocol/valve_goldsrc/mod.rs
  crates/lib/src/protocol/valve_goldsrc/model.rs
  crates/lib/src/protocol/valve_source/client.rs
  crates/lib/src/protocol/valve_source/mod.rs
  crates/lib/src/protocol/valve_source/model.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(valve): remove the current impl as it needs to be split up
  crates/lib/src/protocol/query/mod.rs
  crates/lib/src/protocol/query/valve/client.rs
  crates/lib/src/protocol/query/valve/mod.rs
  crates/lib/src/protocol/query/valve/model.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(diagnostics): switch Result alias to Report and unify diagnostic attachments
  crates/lib/src/core/io/buf/mod.rs
  crates/lib/src/core/io/buf/string.rs
  crates/lib/src/core/net/udp/sealed/client/tokio.rs
  crates/lib/src/error/mod.rs
  crates/lib/src/protocol/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

impl(net/https): add rough HTTPS for std/tokio (WIP)
  crates/lib/Cargo.toml
  crates/lib/src/core/net/https/mod.rs
  crates/lib/src/core/net/https/sealed/client/mod.rs
  crates/lib/src/core/net/https/sealed/client/std.rs
  crates/lib/src/core/net/https/sealed/client/tokio.rs
  crates/lib/src/core/net/https/sealed/mod.rs
  crates/lib/src/core/net/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

impl(net/http): add HTTP client abstractions with std/tokio clients
  crates/lib/Cargo.toml
  crates/lib/src/core/net/http/mod.rs
  crates/lib/src/core/net/http/sealed/client/mod.rs
  crates/lib/src/core/net/http/sealed/client/std.rs
  crates/lib/src/core/net/http/sealed/client/tokio.rs
  crates/lib/src/core/net/http/sealed/mod.rs
  crates/lib/src/core/net/https/mod.rs
  crates/lib/src/core/net/https/sealed/client/mod.rs
  crates/lib/src/core/net/https/sealed/client/std.rs
  crates/lib/src/core/net/https/sealed/client/tokio.rs
  crates/lib/src/core/net/mod.rs
  crates/lib/src/error/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

impl(net/http(s)): add HttpClient and map ureq/reqwest errors to NetworkError
  crates/lib/src/core/net/http/mod.rs
  crates/lib/src/core/net/http/sealed/client/mod.rs
  crates/lib/src/core/net/http/sealed/client/std.rs
  crates/lib/src/core/net/http/sealed/client/tokio.rs
  crates/lib/src/error/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(diagnostics): include HTTP feature flags in CrateInfo and update display/tests plus some todo comments
  crates/lib/src/core/net/http/sealed/client/tokio.rs
  crates/lib/src/error/diagnostic.rs
  crates/lib/src/error/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(net/diagnostics): replace attach_printable with attach in std UDP client
  crates/lib/src/core/net/udp/sealed/client/std.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(Cargo.toml): reorganize dependencies and test new format
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(net): only expose client to crate
  crates/lib/src/core/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(tokio tcp): replace attach_printable with attach
  crates/lib/src/core/net/tcp/sealed/client/tokio.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(Cargo.toml): update library description
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(format): format using new toml config
  Cargo.toml
  crates/cli/Cargo.toml
  crates/ffi/udl/Cargo.toml
  crates/lib/Cargo.toml
  crates/tools/id_gen/Cargo.toml
  crates/tools/net_replay/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(cargo): reorganize attributes and update dependencies
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(rustfmt): update formatting configuration and reorder options
  .rustfmt.toml
Due: none

impl(epic eos): wip impl
  crates/lib/src/protocol/epic_api/client.rs
  crates/lib/src/protocol/epic_api/mod.rs
  crates/lib/src/protocol/epic_api/model.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor(http): change the way args are done
  crates/lib/src/core/mod.rs
  crates/lib/src/core/net/http/mod.rs
  crates/lib/src/core/net/http/sealed/client/mod.rs
  crates/lib/src/core/net/http/sealed/client/std.rs
  crates/lib/src/core/net/http/sealed/client/tokio.rs
  crates/lib/src/core/net/http/sealed/mod.rs
  crates/lib/src/core/net/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix(epic eos): payload json auto adds json header
  crates/lib/src/protocol/epic_api/client.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore(dep): add chrono for datetime strings
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

Path conditions:
  clippy: any of: ([.]rs|Cargo\.toml)$
  build-no-features: any of: ([.]rs|Cargo\.toml)$
  build-all-features: any of: ([.]rs|Cargo\.toml)$
  test: any of: ([.]rs|Cargo\.toml)$
  format: any of: ([.]rs|Cargo\.toml)$
  msrv: any of: ([.]rs|Cargo\.toml)$
  docs: any of: ([.]rs|Cargo\.toml)$
  actions: any of: ^[.]github/workflows/
