Repository gamedig/rust-gamedig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, build-no-features, build-all-features, format, msrv, actions

clippy:
  name: Check clippy
  language: system
  pass_filenames: false
  entry: rustup run --install nightly-2023-07-09 cargo-clippy -- -- -D warnings

build-no-features:
  name: Check crate build with no features
  language: system
  pass_filenames: false
  entry: cargo build --no-default-features

build-all-features:
  name: Check crate builds with all features
  language: system
  pass_filenames: false
  entry: cargo build --all-features --lib --bins --examples

format:
  name: Check rustfmt
  language: system
  pass_filenames: false
  entry: rustup run --install nightly-2023-07-09 cargo-fmt --check

msrv:
  name: Check MSRV compiles
  language: system
  pass_filenames: false
  entry: rustup run --install 1.60 cargo build

actions:
  name: Check actions work
  language: system
  pass_filenames: false
  entry: act -q

Protocols/unreal2+WriteBuffer: Add StringEncoder trait and examples
  src/errors/kind.rs
  src/protocols/types.rs
  src/protocols/unreal2/packets.rs
  src/wbuffer.rs
Due: clippy, build-no-features, build-all-features, format, msrv

chore: remove un-needed fmt skip
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, format, msrv

chore: update cargo.toml
  crates/lib/Cargo.toml
Due: none

chore: add release opts
  Cargo.toml
Due: none

chore: add dependabot config
  .github/dependabot.yml
Due: none

feat: add initial password checking
  crates/lib/src/protocols/unreal2/protocol.rs
  crates/lib/src/protocols/unreal2/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

feat: add password string check and made the field a bool
  crates/lib/src/protocols/unreal2/protocol.rs
  crates/lib/src/protocols/unreal2/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

chore: fix formatting
  crates/lib/src/protocols/unreal2/protocol.rs
  crates/lib/src/protocols/unreal2/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

chore: add dependabot config (#150)
  .github/dependabot.yml
Due: none

feat: add password to has_password common response
  crates/lib/src/protocols/unreal2/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

feat(unreal2): Add password rule check (#149)
  crates/lib/src/protocols/unreal2/protocol.rs
  crates/lib/src/protocols/unreal2/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

docs: Add the initial addition of the CLI notice to CHANGELOG.
  CHANGELOG.md
Due: none

fix: minecraft id naming inconsistencies
  crates/lib/src/games/definitions.rs
  crates/lib/src/protocols/minecraft/protocol/legacy_v1_4.rs
  crates/lib/src/protocols/minecraft/protocol/legacy_vb1_8.rs
  crates/lib/src/protocols/minecraft/protocol/mod.rs
  crates/lib/src/protocols/minecraft/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

fix: minecraft legacy beta 1.8 being wrongly id named in definitions
  crates/lib/src/games/definitions.rs
Due: clippy, build-no-features, build-all-features, format, msrv

docs: Update CHANGELOG to document minecraft legacy renames
  CHANGELOG.md
Due: none

docs: Update CHANGELOG to note removal of legacy versions game names being prefixed with 'v'
  CHANGELOG.md
Due: none

fix: minecraft id naming inconsistencies (#152)
  CHANGELOG.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/protocols/minecraft/protocol/legacy_v1_4.rs
  crates/lib/src/protocols/minecraft/protocol/legacy_vb1_8.rs
  crates/lib/src/protocols/minecraft/protocol/mod.rs
  crates/lib/src/protocols/minecraft/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

chore: initial move and refactor of minecraft
  crates/lib/examples/minecraft.rs
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/minecraft/mod.rs
  crates/lib/src/games/minecraft/protocol/bedrock.rs
  crates/lib/src/games/minecraft/protocol/java.rs
  crates/lib/src/games/minecraft/protocol/legacy_v1_4.rs
  crates/lib/src/games/minecraft/protocol/legacy_v1_6.rs
  crates/lib/src/games/minecraft/protocol/legacy_vb1_8.rs
  crates/lib/src/games/minecraft/protocol/mod.rs
  crates/lib/src/games/minecraft/types.rs
  crates/lib/src/games/mod.rs
  crates/lib/src/protocols/minecraft/mod.rs
  crates/lib/src/protocols/mod.rs
  crates/lib/src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

fix: glob re-exports
  crates/lib/src/games/minecraft/mod.rs
Due: clippy, build-no-features, build-all-features, format, msrv

fix: failing example sample
  crates/lib/src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

docs: update changelog to note the mc protocol implementation to games
  CHANGELOG.md
Due: none

docs: add back the reference query standard reference
  crates/lib/src/games/minecraft/mod.rs
Due: clippy, build-no-features, build-all-features, format, msrv

chore: Move minecraft protocol to games. (#153)
  CHANGELOG.md
  crates/lib/examples/minecraft.rs
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/minecraft/mod.rs
  crates/lib/src/games/minecraft/protocol/bedrock.rs
  crates/lib/src/games/minecraft/protocol/java.rs
  crates/lib/src/games/minecraft/protocol/legacy_v1_4.rs
  crates/lib/src/games/minecraft/protocol/legacy_v1_6.rs
  crates/lib/src/games/minecraft/protocol/legacy_vb1_8.rs
  crates/lib/src/games/minecraft/protocol/mod.rs
  crates/lib/src/games/minecraft/types.rs
  crates/lib/src/games/mod.rs
  crates/lib/src/protocols/minecraft/mod.rs
  crates/lib/src/protocols/mod.rs
  crates/lib/src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

ci: Update node coverage badge to work without games.txt
  .github/workflows/node-badge.yml
  .github/workflows/scripts/node-badge.mjs
Due: actions

ci: Change badge cron time to less common time
  .github/workflows/node-badge.yml
Due: actions

Add/Update badge
  .github/badges/node.svg
Due: none

cli: Do DNS lookup if host is not an IP address
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, format, msrv

cli: Add option to output as JSON
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, format, msrv

cli: Pass hostname to ExtraRequestSettings if it isn't an IP
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, format, msrv

cli: Add help docs to all arguments
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, format, msrv

cli: Add options for all extra request settings
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
  crates/lib/Cargo.toml
  crates/lib/src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

cli: Use a CLI only error for DNS
  crates/cli/src/error.rs
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, format, msrv

cli: Add option to set timeout settings
  crates/cli/src/main.rs
  crates/lib/src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

docs: Add info about commits to CONTRIBUTING
  CONTRIBUTING.md
Due: none

docs: Improve commits wording
  CONTRIBUTING.md
Due: none

protocols: Add connect timeout to TimeoutSettings
  CHANGELOG.md
  crates/lib/examples/generic.rs
  crates/lib/examples/valve_protocol_query.rs
  crates/lib/src/games/minecraft/protocol/bedrock.rs
  crates/lib/src/games/minecraft/protocol/java.rs
  crates/lib/src/games/minecraft/protocol/legacy_v1_4.rs
  crates/lib/src/games/minecraft/protocol/legacy_v1_6.rs
  crates/lib/src/games/minecraft/protocol/legacy_vb1_8.rs
  crates/lib/src/protocols/gamespy/protocols/one/protocol.rs
  crates/lib/src/protocols/gamespy/protocols/three/protocol.rs
  crates/lib/src/protocols/gamespy/protocols/two/protocol.rs
  crates/lib/src/protocols/quake/client.rs
  crates/lib/src/protocols/types.rs
  crates/lib/src/protocols/unreal2/protocol.rs
  crates/lib/src/protocols/valve/protocol.rs
  crates/lib/src/services/valve_master_server/service.rs
  crates/lib/src/socket.rs
Due: clippy, build-no-features, build-all-features, format, msrv

docs: Update CHANGELOG
  CHANGELOG.md
Due: none

tidy: Move TimeoutSettings out of protocol types
  CHANGELOG.md
  crates/lib/examples/generic.rs
  crates/lib/examples/valve_protocol_query.rs
  crates/lib/src/games/ffow.rs
  crates/lib/src/games/jc2m.rs
  crates/lib/src/games/minecraft/protocol/bedrock.rs
  crates/lib/src/games/minecraft/protocol/java.rs
  crates/lib/src/games/minecraft/protocol/legacy_v1_4.rs
  crates/lib/src/games/minecraft/protocol/legacy_v1_6.rs
  crates/lib/src/games/minecraft/protocol/legacy_vb1_8.rs
  crates/lib/src/games/minecraft/protocol/mod.rs
  crates/lib/src/games/mod.rs
  crates/lib/src/games/theship.rs
  crates/lib/src/lib.rs
  crates/lib/src/protocols/gamespy/protocols/one/protocol.rs
  crates/lib/src/protocols/gamespy/protocols/three/protocol.rs
  crates/lib/src/protocols/gamespy/protocols/two/protocol.rs
  crates/lib/src/protocols/quake/client.rs
  crates/lib/src/protocols/quake/one.rs
  crates/lib/src/protocols/quake/three.rs
  crates/lib/src/protocols/quake/two.rs
  crates/lib/src/protocols/types.rs
  crates/lib/src/protocols/unreal2/protocol.rs
  crates/lib/src/protocols/valve/protocol.rs
  crates/lib/src/socket.rs
  crates/lib/src/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

tidy: Move generic query functions to own file
  crates/cli/src/main.rs
  crates/lib/src/games/mod.rs
  crates/lib/src/lib.rs
  crates/lib/src/query.rs
Due: clippy, build-no-features, build-all-features, format, msrv

tidy: Move game type to a types file
  crates/lib/src/games/mod.rs
  crates/lib/src/games/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Path conditions:
  clippy: any of: [.]rs$
  build-no-features: any of: [.]rs$
  build-all-features: any of: [.]rs$
  format: any of: [.]rs$
  msrv: any of: [.]rs$
  actions: any of: ^[.]github/workflows/
