Repository gamedig/rust-gamedig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, build-no-features, build-all-features, test, format, msrv, docs, actions

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: clippy
        name: Check clippy
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: rustup run --install nightly-2023-07-09 cargo-clippy -- --workspace --all-features -- -D warnings
      - id: build-no-features
        name: Check crate build with no features
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: cargo check --workspace --no-default-features
      - id: build-all-features
        name: Check crate builds with all features
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: cargo check --workspace --all-features --lib --bins --examples
      - id: test
        name: Check tests pass
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: cargo test --workspace --bins --lib --examples --all-features
      - id: format
        name: Check rustfmt
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: rustup run --install nightly-2023-07-09 cargo-fmt --check
      - id: msrv
        name: Check MSRV compiles (lib only)
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: rustup run --install 1.65 cargo check -p gamedig
      - id: docs
        name: Check rustdoc compiles
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
      - id: actions
        name: Check actions work
        language: system
        files: '^[.]github/workflows/'
        pass_filenames: false
        entry: act --rm

feat: add Squad support (#164)
  .github/badges/node.svg
  CHANGELOG.md
  GAMES.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

ci: Update labeler config to v5 syntax
  .github/labeler.yml
Due: none

ci: Labeler use extended syntax
  .github/labeler.yml
Due: none

Revert "Bump actions/labeler from 4 to 5 in /.github/workflows (#165)"
  .github/workflows/labeler.yml
Due: actions

Revert "Bump actions/labeler from 4 to 5 in /.github/workflows (#165)" (#167)
  .github/workflows/labeler.yml
Due: actions

feat: savage 2 support
  CHANGELOG.md
  GAMES.md
  RESPONSES.md
  crates/lib/src/games/mod.rs
  crates/lib/src/games/savage2/mod.rs
  crates/lib/src/games/savage2/protocol.rs
  crates/lib/src/games/savage2/types.rs
  crates/lib/src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix: add savage 2 to definitions
  crates/lib/src/games/definitions.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: run rustfmt
  crates/lib/src/games/mod.rs
  crates/lib/src/games/savage2/protocol.rs
  crates/lib/src/games/savage2/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix: config serde use
  crates/lib/src/games/savage2/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix: remove needless borrow
  crates/lib/src/games/savage2/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

docs: add savage 2 to protocols.md
  PROTOCOLS.md
Due: none

feat: add savage 2 support (#169)
  CHANGELOG.md
  GAMES.md
  PROTOCOLS.md
  RESPONSES.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/mod.rs
  crates/lib/src/games/savage2/mod.rs
  crates/lib/src/games/savage2/protocol.rs
  crates/lib/src/games/savage2/types.rs
  crates/lib/src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

Add/Update badge
  .github/badges/node.svg
Due: none

chore: fix unreal 2 entry in protocols.md
  PROTOCOLS.md
Due: none

fix: add jc2m in protocols.md
  PROTOCOLS.md
Due: none

fix: remove unwrapping in an assert
  crates/lib/src/errors/result.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix: readme examples folder returning not found since monorepo merge
  README.md
Due: none

chore: replace the closure with the method itself
  crates/lib/src/services/valve_master_server/service.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: replace ''.to_string with String::new
  crates/lib/src/protocols/valve/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: instead of .map().unwrap_or_else() use .map_or_else()
  crates/lib/src/protocols/valve/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: instead of .map().unwrap_or_else() use .map_or_else()
  crates/lib/src/protocols/unreal2/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

perf: dereference &&str to use specialized ToString implementation
  crates/lib/src/protocols/quake/client.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

perf: dereference &&str to use specialized ToString implementation
  crates/lib/src/protocols/gamespy/protocols/three/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: replace the closure with the method itself
  crates/lib/src/protocols/gamespy/protocols/one/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: fixed some long literal lacking separators
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: run rustfmt
  crates/lib/src/protocols/unreal2/protocol.rs
  crates/lib/src/protocols/valve/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: use map_or_else instead of if let Some() ... else
  crates/lib/src/socket.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: use Self where possible
  crates/lib/src/protocols/types.rs
  crates/lib/src/protocols/unreal2/types.rs
  crates/lib/src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix: also add Eq to savage2::Response
  crates/lib/src/games/savage2/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

pref: apply const to applicable functions
  crates/lib/src/games/minecraft/types.rs
  crates/lib/src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

perf: use of ok_or followed by a function call
  crates/lib/src/games/jc2m.rs
  crates/lib/src/protocols/gamespy/common.rs
  crates/lib/src/protocols/unreal2/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

perf: use of ok_or followed by a function call
  crates/lib/src/games/jc2m.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: simplify condition to use equals operator
  crates/lib/src/protocols/unreal2/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

perf: use of or followed by a function call
  crates/lib/src/games/mod.rs
  crates/lib/src/protocols/quake/client.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: use Option::map_or_else instead of an if let/else
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: remove redundant closure
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

[Test] Add best effort test to validate game ID rules
  crates/lib/Cargo.toml
  tests/game_ids.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

[Test] Refactor ID rules to check if a mod exists after - in game name
  tests/game_ids.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

[Test] Add unit tests for ID rule checker
  tests/game_ids.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

test/id: Correctly extract protocol names
  tests/game_ids.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs
