Repository gamedig/rust-gamedig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, build-no-features, build-all-features, test, format, msrv, docs, actions

clippy:
  name: Check clippy
  language: system
  pass_filenames: false
  entry: rustup run --install nightly-2023-07-09 cargo-clippy -- --workspace --all-features -- -D warnings

build-no-features:
  name: Check crate build with no features
  language: system
  pass_filenames: false
  entry: cargo check --workspace --no-default-features

build-all-features:
  name: Check crate builds with all features
  language: system
  pass_filenames: false
  entry: cargo check --workspace --all-features --lib --bins --examples

test:
  name: Check tests pass
  language: system
  pass_filenames: false
  entry: cargo test --workspace --bins --lib --examples --tests --all-features

format:
  name: Check rustfmt
  language: system
  pass_filenames: false
  entry: rustup run --install nightly-2023-07-09 cargo-fmt --check

msrv:
  name: Check MSRV compiles (lib only)
  language: system
  pass_filenames: false
  entry: rustup run --install 1.65 cargo check -p gamedig

docs:
  name: Check rustdoc compiles
  language: system
  pass_filenames: false
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc

actions:
  name: Check actions work
  language: system
  pass_filenames: false
  entry: act --rm

Add/Update badge
  .github/badges/node.svg
Due: none

docs: fix gramatical error in eco protocol
  crates/lib/src/games/eco/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

feat: add black ops 3 support
  CHANGELOG.md
  GAMES.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: formatting
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

feat: add black ops 3 support (#189)
  CHANGELOG.md
  GAMES.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix: replace 2 instances of .get(0) with .first()
  crates/lib/src/games/jc2m/protocol.rs
  crates/lib/src/protocols/gamespy/protocols/three/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix: remove unused test
  crates/lib/src/games/minecraft/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

tests: add minecraft varint and string types
  crates/lib/src/games/minecraft/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: run formatting on minecraft types
  crates/lib/src/games/minecraft/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

feat: add Chivarly: Medieval Warfare support
  CHANGELOG.md
  GAMES.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

feat: add counter-strike 2 support
  CHANGELOG.md
  GAMES.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

feat: add Double Action: Boogaloo support
  CHANGELOG.md
  GAMES.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix: counter strike 2 gid
  GAMES.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: fix formatting
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

http: Add per-request headers option
  crates/lib/src/games/eco/protocol.rs
  crates/lib/src/http.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

http: Improve tests
  crates/lib/src/http.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix: some links
  crates/cli/README.md
  crates/lib/README.md
Due: none

feat: add initial crates readmes
  crates/cli/README.md
  crates/lib/Cargo.toml
  crates/lib/README.md
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

feat: add initial CLI readme
  crates/cli/Cargo.toml
  crates/cli/README.md
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

feat: fix node badge, split changelogs, fix some other links add docs in cli
  CHANGELOG.md
  README.md
  crates/cli/CHANGELOG.md
  crates/cli/README.md
  crates/lib/CHANGELOG.md
  crates/lib/README.md
Due: none

feat: feature the gamedig site in the lib
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

feat: set CLI version to 0.1.0
  crates/cli/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

feat: fill in cli package fields
  crates/cli/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

feat: update changelogs to set vers
  crates/cli/CHANGELOG.md
  crates/lib/CHANGELOG.md
Due: none

feat: update the release workflow
  .github/workflows/release.yml
Due: actions

feat: release 0.5.0 (#191)
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  crates/cli/CHANGELOG.md
  crates/cli/Cargo.toml
  crates/cli/README.md
  crates/lib/CHANGELOG.md
  crates/lib/Cargo.toml
  crates/lib/README.md
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs, actions

docs(lib): fix eco not being hyperlinked in changelog
  crates/lib/CHANGELOG.md
Due: none

fix(github): add crate src to release workflow
  .github/workflows/release.yml
Due: actions

fix(cli): release binaries workflow
  .github/workflows/release.yml
Due: actions

feat(http): add per-request headers option (#196)
  crates/lib/src/games/eco/protocol.rs
  crates/lib/src/http.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

feat: add initial epic client auth call
  crates/lib/Cargo.toml
  crates/lib/examples/test.rs
  crates/lib/src/games/asa.rs
  crates/lib/src/games/mod.rs
  crates/lib/src/protocols/epic/mod.rs
  crates/lib/src/protocols/epic/protocol.rs
  crates/lib/src/protocols/epic/types.rs
  crates/lib/src/protocols/mod.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix: working client auth
  crates/lib/examples/test.rs
  crates/lib/src/http.rs
  crates/lib/src/protocols/epic/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

feat: unfinished initial EOS query
  crates/lib/examples/test.rs
  crates/lib/src/protocols/epic/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

first successful query
  crates/lib/examples/test.rs
  crates/lib/src/protocols/epic/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

first successful server query
  crates/lib/src/protocols/epic/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

run fmt
  crates/lib/src/games/asa.rs
  crates/lib/src/protocols/epic/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

be a bit more detailed about servers
  crates/lib/src/protocols/epic/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

Path conditions:
  clippy: any of: ([.]rs|Cargo\.toml)$
  build-no-features: any of: ([.]rs|Cargo\.toml)$
  build-all-features: any of: ([.]rs|Cargo\.toml)$
  test: any of: ([.]rs|Cargo\.toml)$
  format: any of: ([.]rs|Cargo\.toml)$
  msrv: any of: ([.]rs|Cargo\.toml)$
  docs: any of: ([.]rs|Cargo\.toml)$
  actions: any of: ^[.]github/workflows/
