Repository gamedig/rust-gamedig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, build-no-features, build-all-features, format, msrv, actions

clippy:
  name: Check clippy
  language: system
  pass_filenames: false
  entry: rustup run --install nightly-2023-07-09 cargo-clippy -- -- -D warnings

build-no-features:
  name: Check crate build with no features
  language: system
  pass_filenames: false
  entry: cargo build --no-default-features

build-all-features:
  name: Check crate builds with all features
  language: system
  pass_filenames: false
  entry: cargo build --all-features --lib --bins --examples

format:
  name: Check rustfmt
  language: system
  pass_filenames: false
  entry: rustup run --install nightly-2023-07-09 cargo-fmt --check

msrv:
  name: Check MSRV compiles
  language: system
  pass_filenames: false
  entry: rustup run --install 1.60 cargo build

actions:
  name: Check actions work
  language: system
  pass_filenames: false
  entry: act -q

[Crate] Refactor: Buffer (#62)
  CHANGELOG.md
  src/buffer.rs
  src/bufferer.rs
  src/games/ffow.rs
  src/games/jc2mp.rs
  src/lib.rs
  src/protocols/gamespy/protocols/one/protocol.rs
  src/protocols/gamespy/protocols/three/protocol.rs
  src/protocols/gamespy/protocols/two/protocol.rs
  src/protocols/minecraft/protocol/bedrock.rs
  src/protocols/minecraft/protocol/java.rs
  src/protocols/minecraft/protocol/legacy_bv1_8.rs
  src/protocols/minecraft/protocol/legacy_v1_4.rs
  src/protocols/minecraft/protocol/legacy_v1_6.rs
  src/protocols/minecraft/types.rs
  src/protocols/quake/client.rs
  src/protocols/quake/two.rs
  src/protocols/valve/protocol.rs
  src/protocols/valve/types.rs
  src/services/valve_master_server/service.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Crate] Update CHANGELOG to add missing added changes.
  CHANGELOG.md
Due: none

[Crate] Fix clippy lints
  examples/master_querant.rs
  src/socket.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Crate] Generalize dependencies
  Cargo.toml
Due: none

[Crate] Bump version to 0.3.0
  CHANGELOG.md
  Cargo.toml
Due: none

[Protocol] GS 1 rename Player's frags field to score to be more inline with the other protocols
  CHANGELOG.md
  src/protocols/gamespy/protocols/one/protocol.rs
  src/protocols/gamespy/protocols/one/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] Fixed quake 2 bug that version wouldn't always be present
  CHANGELOG.md
  src/protocols/quake/client.rs
  src/protocols/quake/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Example] Improve generic example
  examples/generic.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Docs] Improve generic example (#79)
  examples/generic.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Crate] Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/help-regarding-code-protocol-errors.md
Due: none

Add rustdoc checks to CI and tests to pre-commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: actions

[Docs] Add rustdoc checks to CI and tests to pre-commit (#83)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: actions

[Crate] Add issue templates (#81)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/help-regarding-code-protocol-errors.md
Due: none

Add rich error type with source and backtrace
  src/buffer.rs
  src/errors.rs
  src/games/jc2mp.rs
  src/games/mc.rs
  src/protocols/gamespy/common.rs
  src/protocols/gamespy/protocols/one/protocol.rs
  src/protocols/gamespy/protocols/three/protocol.rs
  src/protocols/gamespy/protocols/two/protocol.rs
  src/protocols/minecraft/protocol/bedrock.rs
  src/protocols/minecraft/protocol/java.rs
  src/protocols/minecraft/protocol/legacy_bv1_8.rs
  src/protocols/minecraft/protocol/legacy_v1_4.rs
  src/protocols/minecraft/protocol/legacy_v1_6.rs
  src/protocols/minecraft/protocol/mod.rs
  src/protocols/minecraft/types.rs
  src/protocols/quake/client.rs
  src/protocols/quake/one.rs
  src/protocols/quake/two.rs
  src/protocols/types.rs
  src/protocols/valve/protocol.rs
  src/services/valve_master_server/service.rs
  src/utils.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Crate] Bump MSRV to 1.65.0
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Cargo.toml
  README.md
  VERSIONS.md
Due: actions

Remove BadGame's owned string
  src/errors.rs
  src/protocols/valve/protocol.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Errors] Replace variant overloads with single .rich method on kind enum
  src/buffer.rs
  src/errors.rs
  src/games/jc2mp.rs
  src/protocols/gamespy/common.rs
  src/protocols/gamespy/protocols/one/protocol.rs
  src/protocols/gamespy/protocols/three/protocol.rs
  src/protocols/gamespy/protocols/two/protocol.rs
  src/protocols/minecraft/protocol/bedrock.rs
  src/protocols/minecraft/protocol/java.rs
  src/protocols/minecraft/protocol/legacy_bv1_8.rs
  src/protocols/minecraft/protocol/legacy_v1_4.rs
  src/protocols/minecraft/protocol/legacy_v1_6.rs
  src/protocols/minecraft/types.rs
  src/protocols/quake/client.rs
  src/protocols/quake/one.rs
  src/protocols/quake/two.rs
  src/protocols/types.rs
  src/protocols/valve/protocol.rs
  src/services/valve_master_server/service.rs
  src/utils.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Remove leftover debug logging
  src/protocols/minecraft/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Fix problem with rustdoc
  src/errors.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Add tests for new error type
  src/errors.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Use error context everywhere map_err is used
  src/buffer.rs
  src/games/bat1944.rs
  src/protocols/minecraft/protocol/bedrock.rs
  src/protocols/minecraft/protocol/java.rs
  src/protocols/minecraft/protocol/legacy_bv1_8.rs
  src/protocols/minecraft/protocol/legacy_v1_4.rs
  src/protocols/minecraft/protocol/legacy_v1_6.rs
  src/protocols/valve/protocol.rs
  src/socket.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Fix tests not passing
  src/errors.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Remove error impl from GDErrorKind
  src/errors.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Rename GDError to GDErrorKind
  src/buffer.rs
  src/errors.rs
  src/games/bat1944.rs
  src/games/jc2mp.rs
  src/games/mc.rs
  src/protocols/gamespy/common.rs
  src/protocols/gamespy/protocols/one/protocol.rs
  src/protocols/gamespy/protocols/three/protocol.rs
  src/protocols/gamespy/protocols/two/protocol.rs
  src/protocols/minecraft/protocol/bedrock.rs
  src/protocols/minecraft/protocol/java.rs
  src/protocols/minecraft/protocol/legacy_bv1_8.rs
  src/protocols/minecraft/protocol/legacy_v1_4.rs
  src/protocols/minecraft/protocol/legacy_v1_6.rs
  src/protocols/minecraft/protocol/mod.rs
  src/protocols/minecraft/types.rs
  src/protocols/quake/client.rs
  src/protocols/quake/one.rs
  src/protocols/quake/two.rs
  src/protocols/types.rs
  src/protocols/valve/protocol.rs
  src/protocols/valve/types.rs
  src/services/valve_master_server/service.rs
  src/socket.rs
  src/utils.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Improve GDError display formatter
  src/errors.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Rename GDRichError to GDError
  src/buffer.rs
  src/errors.rs
  src/games/jc2mp.rs
  src/protocols/gamespy/common.rs
  src/protocols/gamespy/protocols/one/protocol.rs
  src/protocols/gamespy/protocols/three/protocol.rs
  src/protocols/gamespy/protocols/two/protocol.rs
  src/protocols/minecraft/protocol/bedrock.rs
  src/protocols/minecraft/protocol/java.rs
  src/protocols/minecraft/protocol/legacy_bv1_8.rs
  src/protocols/minecraft/protocol/legacy_v1_4.rs
  src/protocols/minecraft/protocol/legacy_v1_6.rs
  src/protocols/minecraft/types.rs
  src/protocols/quake/client.rs
  src/protocols/quake/one.rs
  src/protocols/quake/two.rs
  src/protocols/types.rs
  src/protocols/valve/protocol.rs
  src/services/valve_master_server/service.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Crate] Add rich error type (#80)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Cargo.toml
  README.md
  VERSIONS.md
  src/buffer.rs
  src/errors.rs
  src/games/bat1944.rs
  src/games/jc2mp.rs
  src/games/mc.rs
  src/protocols/gamespy/common.rs
  src/protocols/gamespy/protocols/one/protocol.rs
  src/protocols/gamespy/protocols/three/protocol.rs
  src/protocols/gamespy/protocols/two/protocol.rs
  src/protocols/minecraft/protocol/bedrock.rs
  src/protocols/minecraft/protocol/java.rs
  src/protocols/minecraft/protocol/legacy_bv1_8.rs
  src/protocols/minecraft/protocol/legacy_v1_4.rs
  src/protocols/minecraft/protocol/legacy_v1_6.rs
  src/protocols/minecraft/protocol/mod.rs
  src/protocols/minecraft/types.rs
  src/protocols/quake/client.rs
  src/protocols/quake/one.rs
  src/protocols/quake/two.rs
  src/protocols/types.rs
  src/protocols/valve/protocol.rs
  src/protocols/valve/types.rs
  src/services/valve_master_server/service.rs
  src/socket.rs
  src/utils.rs
Due: clippy, build-no-features, build-all-features, format, msrv, actions

[Crate] Update CHANGELOG.md
  CHANGELOG.md
Due: none

[Crate] Remove unnecessary path prefix in error code
  src/errors.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Crate] Apply strict clippy suggestions and fix doc line.
  src/errors.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Crate] Apply strict clippy on buffer
  src/buffer.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Crate] Convert pub(crate) to pub in buffer as its not exported externally
  src/buffer.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Service] Fix valve master server ip gatherer being broken
  src/services/valve_master_server/service.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Service] Fix valve master server ip gatherer being broken (again)
  src/services/valve_master_server/service.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] Standardize The Ship fields
  CHANGELOG.md
  RESPONSES.md
  src/games/ts.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] Standardize FFOW fields
  CHANGELOG.md
  RESPONSES.md
  src/games/ffow.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] Rename Valve's protocol field to protocol_version
  CHANGELOG.md
  RESPONSES.md
  src/games/ts.rs
  src/protocols/valve/protocol.rs
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] Rename Minecraft's version_protocol field to protocol_version
  CHANGELOG.md
  RESPONSES.md
  src/protocols/minecraft/protocol/bedrock.rs
  src/protocols/minecraft/protocol/java.rs
  src/protocols/minecraft/protocol/legacy_bv1_8.rs
  src/protocols/minecraft/protocol/legacy_v1_4.rs
  src/protocols/minecraft/protocol/legacy_v1_6.rs
  src/protocols/minecraft/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] Rename Valve's version field to game_version
  CHANGELOG.md
  RESPONSES.md
  src/games/ts.rs
  src/protocols/valve/protocol.rs
  src/protocols/valve/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

[Protocol] Rename Minecraft java version_name to game_version
  CHANGELOG.md
  RESPONSES.md
  src/protocols/minecraft/protocol/java.rs
  src/protocols/minecraft/protocol/legacy_bv1_8.rs
  src/protocols/minecraft/protocol/legacy_v1_4.rs
  src/protocols/minecraft/protocol/legacy_v1_6.rs
  src/protocols/minecraft/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Path conditions:
  clippy: any of: [.]rs$
  build-no-features: any of: [.]rs$
  build-all-features: any of: [.]rs$
  format: any of: [.]rs$
  msrv: any of: [.]rs$
  actions: any of: ^[.]github/workflows/
