Repository gamedig/rust-gamedig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, build-no-features, build-all-features, format, msrv, actions

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: clippy
        name: Check clippy
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: rustup run --install nightly-2023-07-09 cargo-clippy -- -- -D warnings
      - id: build-no-features
        name: Check crate build with no features
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: cargo build --no-default-features
      - id: build-all-features
        name: Check crate builds with all features
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: cargo build --all-features --lib --bins --examples
      - id: format
        name: Check rustfmt
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: rustup run --install nightly-2023-07-09 cargo-fmt --check
      - id: msrv
        name: Check MSRV compiles
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: rustup run --install 1.60 cargo build
      - id: actions
        name: Check actions work
        language: system
        files: '^[.]github/workflows/'
        pass_filenames: false
        entry: act -q

tidy: Move ExtraRequestSettings to game types
  CHANGELOG.md
  crates/lib/src/games/minecraft/types.rs
  crates/lib/src/games/types.rs
  crates/lib/src/protocols/mod.rs
  crates/lib/src/protocols/types.rs
  crates/lib/src/protocols/unreal2/types.rs
  crates/lib/src/protocols/valve/types.rs
  crates/lib/src/query.rs
Due: clippy, build-no-features, build-all-features, format, msrv

feat: Add connect timeout to TimeoutSettings (#158)
  CHANGELOG.md
  crates/lib/examples/generic.rs
  crates/lib/examples/valve_protocol_query.rs
  crates/lib/src/games/minecraft/protocol/bedrock.rs
  crates/lib/src/games/minecraft/protocol/java.rs
  crates/lib/src/games/minecraft/protocol/legacy_v1_4.rs
  crates/lib/src/games/minecraft/protocol/legacy_v1_6.rs
  crates/lib/src/games/minecraft/protocol/legacy_vb1_8.rs
  crates/lib/src/protocols/gamespy/protocols/one/protocol.rs
  crates/lib/src/protocols/gamespy/protocols/three/protocol.rs
  crates/lib/src/protocols/gamespy/protocols/two/protocol.rs
  crates/lib/src/protocols/quake/client.rs
  crates/lib/src/protocols/types.rs
  crates/lib/src/protocols/unreal2/protocol.rs
  crates/lib/src/protocols/valve/protocol.rs
  crates/lib/src/services/valve_master_server/service.rs
  crates/lib/src/socket.rs
Due: clippy, build-no-features, build-all-features, format, msrv

docs: Add info about commits to CONTRIBUTING (#157)
  CONTRIBUTING.md
Due: none

ci: Improve node-badge script
  .github/workflows/node-badge.yml
  .github/workflows/scripts/node-badge.mjs
Due: actions

ci: Run node badge action if script changes
  .github/workflows/node-badge.yml
Due: actions

ci: Update node badge path for workspaces
  .github/workflows/node-badge.yml
Due: actions

ci: Revert loading games from index in node badge script
  .github/workflows/node-badge.yml
  .github/workflows/scripts/node-badge.mjs
Due: actions

ci: Update node coverage badge to work without games.txt (#156)
  .github/badges/node.svg
  .github/workflows/node-badge.yml
  .github/workflows/scripts/node-badge.mjs
Due: actions

cli: Add default values to TimeoutSettings
  crates/cli/src/main.rs
  crates/lib/src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

cli: Refactor finding game definition into its own function
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, format, msrv

cli: Refactor IP resolution into its own set of functions
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, format, msrv

cli: Refactor output formatting into its own functions
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, format, msrv

cli: Improve doc comments for CLI args and derive Debug
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, format, msrv

protocols: Derive Serialize for versioned generic responses
  crates/lib/src/games/minecraft/types.rs
  crates/lib/src/protocols/gamespy/mod.rs
  crates/lib/src/protocols/quake/types.rs
  crates/lib/src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

cli: Add the output mode options
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, format, msrv

protocols: Fix building without the "games" feature
  crates/lib/src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

crate/lib: Add required features for examples
  crates/lib/Cargo.toml
Due: none

ci: Run if ANY Cargo.toml files are changed
  .github/workflows/ci.yml
Due: actions

ci: Make sure to run unit tests
  .github/workflows/ci.yml
Due: actions

ci: Separate checks for library and CLI
  .github/workflows/ci.yml
Due: actions

ci: Add slightly better comments
  .github/workflows/ci.yml
Due: actions

ci: Only run deeper tests for CLI or LIB when their files were changed
  .github/workflows/ci.yml
Due: actions

ci: Improve act arguments for testing actions locally
  .actrc
  .github/.act-event.json
  .github/workflows/audit.yml
  .pre-commit-config.yaml
Due: actions

ci: Fix pre-commit not running tests
  .pre-commit-config.yaml
Due: none

cli: Fix ExtraRequestSettings docs showing up in help output
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, format, msrv

cli: Add help headings for timeouts and extra request settings
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, format, msrv

ci: Only update shared cache after the initial build
  .github/workflows/ci.yml
Due: actions

ci: Make sure that rustup downloads get cached
  .github/workflows/ci.yml
Due: actions

tidy: Clean up file formatting
  .actrc
  .github/.act-event.json
  .github/workflows/ci.yml
  crates/lib/Cargo.toml
Due: actions

ci: Fix issue with audit
  .github/workflows/audit.yml
Due: actions

[CI] Improvement and fixes (#161)
  .actrc
  .github/.act-event.json
  .github/workflows/audit.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  crates/lib/Cargo.toml
  crates/lib/src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv, actions

Various improvements for the CLI (#159)
  CHANGELOG.md
  crates/cli/Cargo.toml
  crates/cli/src/error.rs
  crates/cli/src/main.rs
  crates/lib/Cargo.toml
  crates/lib/src/games/minecraft/types.rs
  crates/lib/src/protocols/gamespy/mod.rs
  crates/lib/src/protocols/quake/types.rs
  crates/lib/src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, format, msrv

socket: Add method to get local address
  crates/lib/src/socket.rs
Due: clippy, build-no-features, build-all-features, format, msrv

cli: Add option to create a packet capture
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, format, msrv

capture: Add packet capture infrastructure
  crates/lib/Cargo.toml
  crates/lib/src/capture.rs
  crates/lib/src/lib.rs
  crates/lib/src/socket.rs
Due: clippy, build-no-features, build-all-features, format, msrv

feat: add post scriptum support
  CHANGELOG.md
  GAMES.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, format, msrv

Add/Update badge
  .github/badges/node.svg
Due: none

feat: add Post Scriptum support (#163)
  .github/badges/node.svg
  CHANGELOG.md
  GAMES.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, format, msrv

feat: add Squad support
  CHANGELOG.md
  GAMES.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, format, msrv
