Repository gamedig/rust-gamedig: changes, and which pre-commit hooks are due for each by the changed paths.
All: clippy, build-no-features, build-all-features, test, format, msrv, docs, actions

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: clippy
        name: Check clippy
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: rustup run --install nightly-2023-07-09 cargo-clippy -- --workspace --all-features -- -D warnings
      - id: build-no-features
        name: Check crate build with no features
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: cargo check --workspace --no-default-features
      - id: build-all-features
        name: Check crate builds with all features
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: cargo check --workspace --all-features --lib --bins --examples
      - id: test
        name: Check tests pass
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: cargo test --workspace --bins --lib --examples --all-features
      - id: format
        name: Check rustfmt
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: rustup run --install nightly-2023-07-09 cargo-fmt --check
      - id: msrv
        name: Check MSRV compiles (lib only)
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: rustup run --install 1.65 cargo check -p gamedig
      - id: docs
        name: Check rustdoc compiles
        language: system
        files: '[.]rs$'
        pass_filenames: false
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
      - id: actions
        name: Check actions work
        language: system
        files: '^[.]github/workflows/'
        pass_filenames: false
        entry: act --rm

Remove node ID test
  crates/lib/tests/game_ids.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

id-tests: Enable cli feature by default
  crates/id-tests/Cargo.toml
  crates/lib/Cargo.toml
Due: none

feat: Move ID tests into their own crate with a CLI (#177)
  Cargo.toml
  crates/id-tests/Cargo.toml
  crates/id-tests/src/lib.rs
  crates/id-tests/src/main.rs
  crates/id-tests/src/utils.rs
  crates/lib/Cargo.toml
  crates/lib/tests/game_ids.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

feat(games): add zombie panic: source support
  CHANGELOG.md
  GAMES.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

Add/Update badge
  .github/badges/node.svg
Due: none

buffer: Add UTF8LengthPrefixed string decoder
  crates/lib/src/buffer.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

games: Use expression for default port
  crates/lib/src/games/definitions.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

games: Add support for mindustry
  CHANGELOG.md
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/mindustry/mod.rs
  crates/lib/src/games/mindustry/protocol.rs
  crates/lib/src/games/mindustry/types.rs
  crates/lib/src/games/mod.rs
  crates/lib/src/games/query.rs
  crates/lib/src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: change year
  LICENSE.md
Due: none

Add support for Mindustry (#178)
  CHANGELOG.md
  crates/lib/src/buffer.rs
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/mindustry/mod.rs
  crates/lib/src/games/mindustry/protocol.rs
  crates/lib/src/games/mindustry/types.rs
  crates/lib/src/games/mod.rs
  crates/lib/src/games/query.rs
  crates/lib/src/protocols/types.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

protocols: Add more control over gathering additional information
  crates/lib/examples/valve_protocol_query.rs
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
  crates/lib/src/protocols/types.rs
  crates/lib/src/protocols/unreal2/protocol.rs
  crates/lib/src/protocols/unreal2/types.rs
  crates/lib/src/protocols/valve/mod.rs
  crates/lib/src/protocols/valve/protocol.rs
  crates/lib/src/protocols/valve/types.rs
  crates/lib/src/utils.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

crate: Set default binary to gamedig-cli
  crates/cli/Cargo.toml
Due: none

crate: Fix bad no-default-features option on gamedig-id dependency
  crates/lib/Cargo.toml
Due: none

ci: Run tests when Cargo.toml changes
  .pre-commit-config.yaml
Due: none

id-tests: Clippy fixes
  crates/id-tests/src/lib.rs
  crates/id-tests/src/main.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

merge: Douile fork + local (broken af)
  crates/cli/src/main.rs
  crates/lib/Cargo.toml
  crates/lib/src/capture.rs
  crates/lib/src/capture/mod.rs
  crates/lib/src/capture/packet.rs
  crates/lib/src/capture/pcap.rs
  crates/lib/src/capture/writer.rs
  crates/lib/src/lib.rs
  crates/lib/src/socket.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor: backport pcap impl
  crates/cli/src/main.rs
  crates/lib/src/capture/mod.rs
  crates/lib/src/capture/packet.rs
  crates/lib/src/capture/pcap.rs
  crates/lib/src/capture/writer.rs
  crates/lib/src/lib.rs
  crates/lib/src/socket.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor: clean up
  crates/cli/src/main.rs
  crates/lib/src/capture/mod.rs
  crates/lib/src/capture/packet.rs
  crates/lib/src/capture/pcap.rs
  crates/lib/src/capture/writer.rs
  crates/lib/src/socket.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: format
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: add source link
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor: clean up and add more features
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

impl: tcp fin
  crates/lib/src/capture/pcap.rs
  crates/lib/src/capture/writer.rs
  crates/lib/src/socket.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix: bson output
  crates/cli/Cargo.toml
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: optimize further
  Cargo.toml
Due: none

fix: various crate/clippy/ci changes (#181)
  .pre-commit-config.yaml
  crates/cli/Cargo.toml
  crates/id-tests/src/lib.rs
  crates/id-tests/src/main.rs
  crates/lib/Cargo.toml
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: add missing cli fn docs
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

chore: format
  crates/cli/src/main.rs
  crates/lib/src/capture/mod.rs
  crates/lib/src/capture/packet.rs
  crates/lib/src/capture/pcap.rs
  crates/lib/src/socket.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix: packet support for msrv
  crates/lib/src/capture/packet.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix: mindustry leak crate-private type
  crates/lib/src/games/mindustry/protocol.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix: cli unused import + undeclared crate
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

fix: variant `Action::Query` does not have this field
  crates/cli/src/main.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor: clippy fixs
  crates/cli/src/main.rs
  crates/lib/src/capture/packet.rs
  crates/lib/src/capture/pcap.rs
  crates/lib/src/socket.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

refactor: clippy fix + docs
  crates/lib/src/capture/writer.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

impl: cli release workflow (x86_64, win, dar, linux, wasm32-wasi)
  .github/workflows/release.yml
Due: actions

ci: Only update the node badge on the main branch
  .github/workflows/node-badge.yml
Due: actions

protocols: Improve GatherToggle enum names
  crates/lib/examples/valve_protocol_query.rs
  crates/lib/src/games/definitions.rs
  crates/lib/src/games/valve.rs
  crates/lib/src/protocols/types.rs
  crates/lib/src/protocols/unreal2/types.rs
  crates/lib/src/protocols/valve/types.rs
  crates/lib/src/utils.rs
Due: clippy, build-no-features, build-all-features, test, format, msrv, docs

ci: Only update the node badge on the main branch (#183)
  .github/workflows/node-badge.yml
Due: actions
